# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
storybook-static

#pack
1024pix-pix-ui-*.tgz
declarations

# dependencies
node_modules

# misc
.env*
.pnp*
.sass-cache
connect.lock
.eslintcache
coverage
libpeerconnection.log
npm-debug.log*
testem.log
yarn-error.log

# system
.DS_Store

# storybook / chromatic
preview-head.html
build-storybook.log

# IDE
**/.idea
!.idea/runConfigurations/*.xml
*.iml
*.code-workspace
.history
