# compiled output
dist/
tmp/

# misc
.editorconfig
.env*
.eslintcache
.eslintignore
.eslintrc.js
.git
.github
.gitignore
.prettierignore
.template-lintrc.js
.travis.yml
CONTRIBUTING.md
yarn-error.log
yarn.lock
.gitkeep
scripts/
