@mixin hoverFormElement(){
  &:hover {
    box-shadow: inset 0px 0px 0px 0.6px $grey-40;
  }
}

@mixin focusFormElement(){
  &:focus {
    border-color: $blue;
    box-shadow: inset 0px 0px 0px 0.6px $blue;
    outline: none;
  }
}

@mixin focusWithinFormElement(){
  &:focus {
    border-color: $blue;
    box-shadow: inset 0px 0px 0px 0.6px $blue;
    outline: none;
  }
}
