@mixin hoverFormElement(){
  &:hover {
    box-shadow: inset 0px 0px 0px 0.6px $grey-40;
  }
}

@mixin focusFormElement(){
  &:focus {
    border-color: $blue;
    box-shadow: inset 0px 0px 0px 0.6px $blue;
    outline: none;
  }
}

@mixin focusWithinFormElement(){
  &:focus {
    border-color: $blue;
    box-shadow: inset 0px 0px 0px 0.6px $blue;
    outline: none;
  }
}

@mixin label() {
  display: block;
  font-family: $font-roboto;
  font-size: 0.875rem;
  color: $grey-70;
  margin-bottom: 4px;
}

@mixin errorMessage() {
  position: absolute;
  font-family: $font-roboto;
  font-size: 0.75rem;
  color: $red;
}

@mixin formElementInError() {
  border-color: $red;
  box-shadow: inset 0px 0px 0px 0.6px $red;
}

@mixin input() {
  line-height: 0;
  font-family: $font-roboto;
  font-size: 0.875rem;
  font-weight: 400;
  color: $grey-90;
  border-radius: $spacing-xxs;
  padding: 0 $spacing-s 0 $spacing-s;
}

.pix-form__label {
  @include label();
  padding-bottom: 12px;
}

.pix-radio-button {
  padding: $spacing-xs 0 $spacing-xs 0;
}


.pix-form__actions {
  display: flex;
  justify-content: center;

  & > .pix-button:first-child {
    margin-right: 10px;
  }
}
