.pix-tooltip {
  @import 'reset-css';

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.pix-tooltip--visible {
  + .pix-tooltip__content {
    display: block;
    opacity: 1;
  }
}

.pix-tooltip__content {
  display: none;
  opacity: 0;
  pointer-events: none;
  background-color: $pix-neutral-100;
  position: absolute;
  z-index: 100;
  padding: 8px 16px;
  left: auto;
  color: $pix-neutral-0;
  font-family: $font-roboto;
  font-size: 0.875rem;
  border-radius: 6px;
  line-height: 1.4rem;
  transition: opacity 0.3s;

  &--inline {
    white-space: nowrap;
  }

  &::before {
    content: '';
    position: absolute;
    border-width: 5px;
    border-style: solid;
  }

  &--wide {
    width: 382px;
  }

  &--light {
    font-weight: $font-medium;
    background-color: $pix-neutral-0;
    color: $pix-neutral-60;
    box-shadow: 0px 6px 24px 0px rgba($pix-neutral-70, 0.14);

    &::before {
      border-width: 0px;
      height: 8px;
      width: 8px;
      background-color: $pix-neutral-0;
    }
  }
}

.pix-tooltip__content--right {
  left: calc(100% + 10px);

  &::before {
    top: calc(50% - 5px); // 50% is the height of the parent and 5px the height of the triangle
    left: -10px; // 10px is width of the ::before elmt
    border-color: transparent $pix-neutral-100 transparent transparent;
  }

  &.pix-tooltip__content--light::before {
    left: -5px;
    transform: rotate(315deg);
    border-color: $pix-neutral-40 transparent transparent $pix-neutral-40;
  }
}

.pix-tooltip__content--top {
  bottom: calc(100% + 10px);
  left: 50%; // 50% here is the parent width
  transform: translate(-50%); // 50% here is the width of this current element

  &::before {
    top: 100%;
    left: calc(50% - 5px);
    border-color: $pix-neutral-100 transparent transparent transparent;
  }

  &.pix-tooltip__content--light::before {
    top: calc(100% - 5px);
    transform: rotate(225deg);
    border-color: $pix-neutral-40 transparent transparent $pix-neutral-40;
  }
}

.pix-tooltip__content--top-left {
  bottom: calc(100% + 10px);
  transform: translate(calc(-50% + 22px));

  &::before {
    top: 100%;
    left: calc(100% - 27px);
    border-color: $pix-neutral-100 transparent transparent transparent;
  }

  &.pix-tooltip__content--light::before {
    top: calc(100% - 5px);
    left: calc(100% - 26px);
    transform: rotate(225deg);
    border-color: $pix-neutral-40 transparent transparent $pix-neutral-40;
  }
}

.pix-tooltip__content--top-right {
  bottom: calc(100% + 10px);
  transform: translate(calc(50% - 22px));

  &::before {
    top: 100%;
    border-color: $pix-neutral-100 transparent transparent transparent;
  }

  &.pix-tooltip__content--light::before {
    top: calc(100% - 5px);
    transform: rotate(225deg);
    border-color: $pix-neutral-40 transparent transparent $pix-neutral-40;
  }
}

.pix-tooltip__content--bottom {
  top: calc(100% + 10px);
  left: 50%;
  transform: translate(-50%);

  &::before {
    top: -10px;
    left: calc(50% - 5px);
    border-color: transparent transparent $pix-neutral-100 transparent;
  }

  &.pix-tooltip__content--light::before {
    top: -5px;
    transform: rotate(45deg);
    border-color: $pix-neutral-40 transparent transparent $pix-neutral-40;
  }
}

.pix-tooltip__content--bottom-left {
  top: calc(100% + 10px);
  transform: translate(calc(-50% + 22px));

  &::before {
    top: -10px;
    left: calc(100% - 27px);
    border-color: transparent transparent $pix-neutral-100 transparent;
  }

  &.pix-tooltip__content--light::before {
    top: -5px;
    left: calc(100% - 26px);
    transform: rotate(45deg);
    border-color: $pix-neutral-40 transparent transparent $pix-neutral-40;
  }
}

.pix-tooltip__content--bottom-right {
  top: calc(100% + 10px);
  transform: translate(calc(50% - 22px));

  &::before {
    top: -10px;
    border-color: transparent transparent $pix-neutral-100 transparent;
  }

  &.pix-tooltip__content--light::before {
    top: -5px;
    transform: rotate(45deg);
    border-color: $pix-neutral-40 transparent transparent $pix-neutral-40;
  }
}

.pix-tooltip__content--left {
  right: calc(100% + 10px);

  &::before {
    top: calc(50% - 5px);
    right: -10px;
    border-color: transparent transparent transparent $pix-neutral-100;
  }

  &.pix-tooltip__content--light::before {
    right: -5px;
    transform: rotate(135deg);
    border-color: $pix-neutral-40 transparent transparent $pix-neutral-40;
  }
}
