.pix-button {
  @import 'reset-css';

  color: $pix-neutral-0;
  font-family: $font-roboto;
  font-size: 0.875rem;
  font-weight: 500;
  white-space: nowrap;
  letter-spacing: 0.028rem;
  cursor: pointer;
  background-color: $pix-primary;
  border: 2px solid transparent;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  &--shape-rounded {
    border-radius: 25px;
  }

  &--shape-squircle {
    border-radius: 4px;
  }

  &--size-big {
    padding: 12px 24px;
  }

  &--size-small.pix-button--shape-rounded {
    padding: 8px 24px;
  }

  &--size-small.pix-button--shape-squircle {
    padding: 8px 16px;
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--background-blue {
    background-color: $pix-primary;

    &:not(.pix-button--disabled) {
      &:hover {
        background-color: $pix-primary-60;
        box-shadow: none;
        border: 2px solid transparent;
      }

      &:focus,
      &:focus-visible {
        background-color: $pix-primary-60;
        box-shadow: 0 0 0 2px $pix-primary-60;
        border: 2px solid $pix-neutral-0;
      }

      &:active {
        background-color: $pix-primary-70;
        box-shadow: none;
        border: 2px solid transparent;
      }
    }
  }

  &--background-green {
    background-color: $pix-success-60;

    &:not(.pix-button--disabled) {
      &:hover {
        background-color: $pix-success-70;
        box-shadow: none;
        border: 2px solid transparent;
      }

      &:focus,
      &:focus-visible {
        background-color: $pix-success-70;
        box-shadow: 0 0 0 2px $pix-success-70;
        border: 2px solid $pix-neutral-0;
      }

      &:active {
        background-color: $pix-success-80;
        box-shadow: none;
        border: 2px solid transparent;
      }
    }
  }

  &--background-yellow {
    color: $pix-neutral-100;
    background-color: $pix-warning-40;
    border: 2px solid transparent;

    &:not(.pix-button--disabled) {
      &:hover {
        background-color: $pix-warning-50;
        box-shadow: none;
        border: 2px solid transparent;
      }

      &:focus,
      &:focus-visible {
        background-color: $pix-warning-50;
        box-shadow: 0 0 0 2px $pix-warning-50;
        border: 2px solid $pix-neutral-0;
      }

      &:active {
        background-color: $pix-warning-60;
        box-shadow: none;
        border: 2px solid transparent;
      }
    }
  }

  &--background-red {
    color: $pix-neutral-0;
    background-color: $pix-error-70;
    border: 2px solid transparent;

    &:not(.pix-button--disabled) {
      &:hover {
        background-color: $pix-error-80;
        box-shadow: none;
        border: 2px solid transparent;
      }

      &:focus,
      &:focus-visible {
        background-color: $pix-error-70;
        box-shadow: 0 0 0 2px $pix-error-70;
        border: 2px solid $pix-neutral-0;
      }

      &:active {
        background-color: #861212;
        box-shadow: none;
        border: 2px solid transparent;
      }
    }
  }

  &--background-grey {
    background-color: $pix-neutral-60;
    border: 2px solid transparent;

    &:not(.pix-button--disabled) {
      &:hover {
        background-color: darken($pix-neutral-60, 8%);
        box-shadow: 0 0 0 2px darken($pix-neutral-60, 8%);
        border-color: $pix-neutral-0;
        outline: none;
      }

      &:focus,
      &:focus-visible {
        background-color: darken($pix-neutral-60, 8%);
        box-shadow: 0 0 0 2px darken($pix-neutral-60, 8%);
        border-color: $pix-neutral-0;
        outline: none;
      }

      &:active {
        background-color: darken($pix-neutral-60, 12%);
      }
    }
  }

  /* deprecated in favor of --background-transparent-light + --border */
  &--background-transparent {
    background-color: transparent;
    color: $pix-neutral-50;
    border: 2px solid $pix-neutral-50;
  }

  &--background-transparent-light {
    background-color: transparent;
    border-color: transparent;
    color: $pix-neutral-90;

    &:not(.pix-button--disabled) {
      &:hover {
        background-color: rgba($pix-neutral-110, 0.1);
        outline: none;
      }

      &:focus,
      &:focus-visible {
        background-color: rgba($pix-neutral-110, 0.1);
        outline: none;
      }

      &:active {
        background-color: rgba($pix-neutral-110, 0.2);
      }
    }

    &.pix-button--border {
      border-color: $pix-neutral-50;

      &:not(.pix-button--disabled) {
        &:hover,
        &:active {
          border-color: $pix-neutral-80;
        }
      }
    }
  }

  &--background-transparent-dark {
    background-color: transparent;
    border-color: transparent;
    color: $pix-neutral-0;

    &:not(.pix-button--disabled) {
      &:hover {
        background-color: rgba($pix-neutral-110, 0.1);
        outline: none;
      }

      &:focus,
      &:focus-visible {
        background-color: rgba($pix-neutral-110, 0.1);
        outline: none;
      }

      &:active {
        background-color: rgba($pix-neutral-110, 0.2);
      }
    }

    &.pix-button--border {
      border-color: $pix-neutral-0;
    }
  }
}
