.pix-input {
  position: relative;
  display: flex;
  flex-direction: column;

  &__container {
    position: relative;
  }

  svg {
    position: absolute;
    right: 12px;
    bottom: 11px;
    width: 10px;
    height: 10px;
    padding: 2px;
    color: var(--pix-neutral-0);
    font-size: 0.6rem;
    border-radius: 50%;

    &.pix-input__error-icon {
      background: var(--pix-error-700);
    }

    &.pix-input__success-icon {
      background: var(--pix-success-700);
    }
  }

  &__error-message {
    @extend %pix-input-error-message;
  }

  &__input {
    @extend %pix-input-default;
    @extend %pix-form-element-state;

    width: 100%;
    border: 1px solid var(--pix-neutral-500);

    &--error {
      @extend %pix-form-error-state;
    }

    &--success {
      @extend %pix-form-success-state;
    }

    &::placeholder {
      color: var(--pix-neutral-500);
    }

  }
}
