.pix-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--pix-neutral-0);
  font-weight: $font-medium;
  font-size: 0.875rem;
  white-space: nowrap;
  text-decoration: none;
  background-color: var(--pix-primary-500);
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;

  &[aria-disabled="true"] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:not([aria-disabled="true"]) {
    &:hover {
      background-color: var(--pix-primary-700);
    }

    &:focus,
    &:focus-visible {
      background-color: var(--pix-primary-700);
      outline: 1px solid var(--pix-neutral-0);
      outline-offset: -5px;
    }

    &:active {
      background-color: var(--pix-primary-900);
      outline: none;
    }
  }

  &--shape-rounded {
    border-radius: 25px;
  }

  &--shape-squircle {
    border-radius: 4px;
  }

  &--size-big {
    padding: var(--pix-spacing-3x) var(--pix-spacing-6x);
  }

  &--size-small.pix-button--shape-rounded {
    padding: var(--pix-spacing-2x) var(--pix-spacing-6x);
  }

  &--size-small.pix-button--shape-squircle {
    padding: var(--pix-spacing-2x) var(--pix-spacing-4x);
  }

  &--primary {
    background-color: var(--pix-primary-500);

    &:not([aria-disabled="true"]) {
      &:hover {
        background-color: var(--pix-primary-700);
      }

      &:focus,
      &:focus-visible {
        background-color: var(--pix-primary-700);
        outline: 1px solid var(--pix-neutral-0);
        outline-offset: -5px;
      }

      &:active {
        background-color: var(--pix-primary-900);
        outline: none;
      }
    }
  }

  &--success {
    background-color: var(--pix-success-500);

    &:not([aria-disabled="true"]) {
      &:hover {
        background-color: var(--pix-success-700);
      }

      &:focus,
      &:focus-visible {
        background-color: var(--pix-success-700);
        outline: 1px solid var(--pix-neutral-0);
        outline-offset: -4px;
      }

      &:active {
        background-color: var(--pix-success-900);
        outline: none;
      }
    }
  }

  &--secondary {
    color: var(--pix-neutral-900);
    background-color: var(--pix-secondary-500);

    &:not([aria-disabled="true"]) {
      &:hover {
        color: var(--pix-neutral-0);
        background-color: var(--pix-secondary-700);
      }

      &:focus,
      &:focus-visible {
        color: var(--pix-neutral-0);
        background-color: var(--pix-secondary-700);
        outline: 1px solid var(--pix-neutral-0);
        outline-offset: -4px;
      }

      &:active {
        color: var(--pix-neutral-0);
        background-color: var(--pix-secondary-900);
        outline: none;
      }
    }
  }

  &--error {
    color: var(--pix-neutral-0);
    background-color: var(--pix-error-500);

    &:not([aria-disabled="true"]) {
      &:hover {
        background-color: var(--pix-error-700);
      }

      &:focus,
      &:focus-visible {
        background-color: var(--pix-error-700);
        outline: 1px solid var(--pix-neutral-0);
        outline-offset: -4px;
      }

      &:active {
        background-color: var(--pix-error-900);
        outline: none;
      }
    }
  }

  &--neutral {
    color: var(--pix-neutral-900);
    background-color: var(--pix-neutral-20);

    &:not([aria-disabled="true"]) {
      &:hover {
        background-color: var(--pix-neutral-100);
      }

      &:focus,
      &:focus-visible {
        color: var(--pix-neutral-0);
        background-color: var(--pix-neutral-900);
        outline: 1px solid var(--pix-neutral-0);
        outline-offset: -4px;
      }

      &:active {
        color: var(--pix-neutral-900);
        background-color: var(--pix-neutral-100);
        outline: none;
      }
    }
  }

  &--transparent-light {
    color: var(--pix-primary-700);
    background-color: transparent;

    &.pix-button--border {
      border: 2px solid var(--pix-primary-700);
    }

    &:not([aria-disabled="true"]) {
      &:hover {
        color: var(--pix-neutral-0);
        background-color: var(--pix-primary-500);
      }

      &:focus,
      &:focus-visible {
        color: var(--pix-primary-900);
        background-color: var(--pix-primary-100);
        outline: 1px solid var(--pix-primary-700);
        outline-offset: -5px;
      }

      &:active {
        color: var(--pix-neutral-0);
        background-color: var(--pix-primary-700);
        outline: none;
      }
    }
  }

  &--transparent-dark {
    color: var(--pix-neutral-0);
    background-color: transparent;

    &.pix-button--border {
      border: 1px solid var(--pix-neutral-0);
    }

    &:not([aria-disabled="true"]) {
      &:hover {
        color: var(--pix-neutral-900);
        background-color: var(--pix-neutral-20);
        border: 1px solid transparent;
      }

      &:focus,
      &:focus-visible {
        color: var(--pix-neutral-900);
        background-color: var(--pix-neutral-20);
        outline: 1px solid var(--pix-neutral-900);
        outline-offset: -4px;
      }

      &:active {
        background-color: var(--pix-neutral-20);
        outline: none;
      }
    }
  }
}

.pix-button-link,
.pix-button-upload {
  line-height: initial;
}
