.pix-toggle {
  display: inline-flex;
  flex-direction: column;
  gap: var(--pix-spacing-1x);

  &--inline {
    flex-direction: row;
    gap: var(--pix-spacing-2x);
    align-items: center;
  }

  &__button {
    @extend %pix-body-s;

    width: fit-content;
    padding: var(--pix-spacing-1x);
    font-weight: var(--pix-font-bold);
    line-height: 1.572;
    background: var(--pix-neutral-20);
    border: 1px solid var(--pix-neutral-500);
    border-radius: 4px;

    &--icon {
      font-size: 0;
    }
  }

  &__with-icon > svg {
    width: 1.4rem;
    height: 1.4rem;
  }

  &__on,
  &__off {
    display: inline-block;
    padding: var(--pix-spacing-1x) var(--pix-spacing-2x);
    border-radius: 4px;
  }

  &__on {
    color: var(--pix-neutral-800);
    font-weight: var(--pix-font-normal);
    fill: var(--pix-neutral-800);
  }

  &__off {
    color: var(--pix-neutral-20);
    background-color: var(--pix-neutral-800);
    fill: var(--pix-neutral-20);
  }

  &--pressed {
    .pix-toggle {
      &__on {
        color: var(--pix-neutral-20);
        font-weight: inherit;
        background-color: var(--pix-neutral-800);
        fill: var(--pix-neutral-20);
      }

      &__off {
        color: var(--pix-neutral-800);
        font-weight: var(--pix-font-normal);
        background-color: transparent;
        fill: var(--pix-neutral-800);
      }
    }
  }
}
