.pix-input {
  @import 'reset-css';

  display: flex;
  flex-direction: column;

  &__label {
    font-family: $font-roboto;
    font-size: 0.875rem;
    color: $grey-70;
  }

  &__information {
    font-family: $font-roboto;
    font-size: 0.75rem;
    color: $blue-zodiac;
    margin-top: 4px;
  }

  input {
    margin-top: 4px;
    padding: 10px 16px;
    border: 1.5px solid $grey-40;
    border-radius: 4px;
    font-family: $font-roboto;
    font-size: 0.875rem;
    font-weight: 400;
    color: $grey-90;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      border: 1.5px solid $blue;
      outline: 0.5px solid $blue;
    }

    &::placeholder {
      color: $grey-30;
    }
  }
}
