.pix-return-to {
  @extend %pix-body-l;

  display: inline-flex;
  gap: var(--pix-spacing-1x);
  align-items: center;
  text-decoration: none;
  border-bottom: transparent solid 2px;

  &__icon {
    position: relative;
    padding: var(--pix-spacing-1x) var(--pix-spacing-2x);
    font-size: 1rem;
  }

  &:focus,
  &:hover,
  &:active {
    background-color: transparent;
    border-bottom-color: transparent;
    outline: 0;
    cursor: pointer;
  }

  @mixin coloriseLink($defaultColor, $arrowHoverColor, $arrowBgColor) {
    color: $defaultColor;

    &:focus,
    &:hover,
    &:active {
      .pix-return-to__icon {
        color: $arrowHoverColor;
        background-color: $arrowBgColor;
        border-radius: 50%;
        outline: 1px solid var(--pix-neutral-0);
        outline-offset: -3px;
      }
    }
  }

  &--white, &--neutral-light {
    @include coloriseLink(var(--pix-neutral-20), var(--pix-neutral-0), var(--pix-neutral-20));
  }

  &--black, &--neutral-dark {
    @include coloriseLink(var(--pix-neutral-900), var(--pix-neutral-0), var(--pix-neutral-900));
  }

  &--blue, &--primary {
    @include coloriseLink(var(--pix-primary-900), var(--pix-neutral-0), var(--pix-primary-900));
  }
}
