.progress-gauge {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-width: 200px;
  border-radius: 5px;

  &__bar {
    flex-grow: 1;
    height: 0.875rem;
    border: 2px solid $pix-neutral-20;
    border-radius: 1.625rem;
    overflow: hidden;

    &::-webkit-progress-value {
      background-color: $pix-primary;
      border-radius: 1.625rem;
    }

    &::-moz-progress-bar {
      background-color: $pix-primary;
      border-radius: 1.625rem;
    }

    &::-webkit-progress-bar {
      background-color: $pix-neutral-20;
    }
  }

  &__text {
    @extend %pix-body-s;

    font-weight: 500;
    margin-right: $pix-spacing-s;
    white-space: nowrap;
  }

  &__sub-title {
    @extend %pix-body-s;

    width: 100%;
    margin: 6px 0;
    color: $pix-primary-60;
    letter-spacing: 0.4px;
    text-transform: uppercase;
  }
}

// THEME DARK
.progress-gauge--theme-dark {
  .progress-gauge__bar {
    border: 2px solid $pix-neutral-0;
  }

  .progress-gauge__bar::-webkit-progress-bar {
    background-color: $pix-neutral-0;
  }

  .progress-gauge__text,
  .progress-gauge__sub-title {
    color: $pix-neutral-0;
  }
}

// SPECIFIC BAR COLORS
.progress-gauge--content-blue {
  .progress-gauge__bar::-webkit-progress-value {
    background-color: $pix-primary;
  }

  .progress-gauge__bar::-moz-progress-bar {
    background-color: $pix-primary;
  }

  &:not(.progress-gauge--theme-dark) {
    .progress-gauge__text,
    .progress-gauge__sub-title {
      color: $pix-primary;
    }
  }
}

.progress-gauge--content-green {
  .progress-gauge__bar::-webkit-progress-value {
    background-color: $pix-success-60;
  }

  .progress-gauge__bar::-moz-progress-bar {
    background-color: $pix-success-60;
  }

  &:not(.progress-gauge--theme-dark) {
    .progress-gauge__text,
    .progress-gauge__sub-title {
      color: $pix-success-60;
    }
  }
}

.progress-gauge--content-purple {
  .progress-gauge__bar::-webkit-progress-value {
    background-color: $pix-tertiary-60;
  }

  .progress-gauge__bar::-moz-progress-bar {
    background-color: $pix-tertiary-60;
  }

  &:not(.progress-gauge--theme-dark) {
    .progress-gauge__text,
    .progress-gauge__sub-title {
      color: $pix-tertiary-60;
    }
  }
}
