.pix-modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: var(--pix-spacing-2x) 0;
  overflow-y: auto;
  text-align: center; // Used to center horizontally the inline-block modal content
  // we inline the pix-neutral-800 value
  background-color: rgba(37,56,88, .5);
  transition: all 0.3s ease-in-out;

  // This block is used to center vertically the modal
  // if the content is less than 100vh
  // Inspired by https://mui.com/material-ui/react-dialog/#scrolling-long-content
  &::after {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    content: '';
  }

  &--hidden {
    visibility: hidden;
    opacity: 0;
  }
}

.pix-modal {
  @extend %pix-shadow-sm;

  display: inline-block;
  width: 512px;
  max-width: calc(
      100% - var(--pix-spacing-4x)
    ); // Horizontal margin sets here to have extra space for the .pix-modal__overlay::after on mobile

  overflow: hidden;
  text-align: initial;
  vertical-align: middle; // Centered vertically with the .pix-modal__overlay::after which is 100% height
  background-color: var(--pix-neutral-20);
  border-radius: 4px;

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--pix-spacing-6x);
    color: var(--pix-neutral-900);
    background: var(--pix-neutral-0);
    border-bottom: 1px solid var(--pix-neutral-20);
  }

  &__close-button {
    flex-shrink: 0;
    margin-top: -4px;

    @include device-is('tablet') {
      width: var(--pix-spacing-10x);
      height: var(--pix-spacing-10x);
    }
  }

  &__title {
    @extend %pix-title-xs;

    margin-bottom: 0;
    padding-right: var(--pix-spacing-8x) + var(--pix-spacing-2x);
    color: var(--pix-neutral-900);

    @include device-is('tablet') {
      padding-right: var(--pix-spacing-10x) + var(--pix-spacing-2x);
    }
  }

  &__content {
    @extend %pix-body-s;

    padding: var(--pix-spacing-6x);
    color: var(--pix-neutral-900);
    background-color:var(--pix-neutral-20);

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__footer {
    padding: 0 var(--pix-spacing-6x) var(--pix-spacing-2x);
    background-color:var(--pix-neutral-20);
  }
}
