.pix-filter-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $pix-spacing-xs;
  width: 100%;
  min-height: 64px;
  padding: $pix-spacing-s $pix-spacing-m;
  background-color: var(--pix-neutral-0);
  box-shadow: 0 2px 5px 0 rgba(var(--pix-neutral-900), 0.05);

  &__title {
    margin: 0;
    color: var(--pix-neutral-500);
    font-size: 0.875rem;
  }

  &__container-filter {
    display: flex;
    flex-direction: column;
    gap: $pix-spacing-s;
  }

  &__container-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--pix-neutral-20);
  }

  &__details {
    margin: 0;
    padding: $pix-spacing-xs 0 $pix-spacing-xs 0;
    color: var(--pix-neutral-500);
    font-weight: $font-medium;
    font-size: 0.875rem;
  }

  &__button {
    font-size: 0.875rem;
  }
}

.pix-filter-banner-button__icon {
  padding-right: $pix-spacing-xxs;
}

@include device-is('tablet') {
  .pix-filter-banner {
    flex-direction: row;
    gap: $pix-spacing-m;
    align-items: center;

    &__container-title {
      display: flex;
      align-items: center;
    }

    &__container-filter {
      flex-direction: row;
      flex-grow: 2;
      flex-wrap: wrap;
      align-items: center;
    }

    &__container-action {
      flex-direction: row;
      border: none;
    }

    &__details {
      padding: 0 $pix-spacing-s 0 0;
      text-align: center;
      border: none;
    }

    &__button-container {
      padding-left: $pix-spacing-s;
      border-left: 1px solid var(--pix-neutral-20);
    }
  }
}
