.pix-input-password {
  position: relative;
  display: flex;
  flex-direction: column;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1px 0 1px 1px;
    border: 1px solid var(--pix-neutral-500);
    border-radius: $pix-spacing-xxs;

    @include hoverFormElement();

    &:focus-within {
      border-color: var(--pix-primary-500);
      box-shadow: inset 0 0 0 0.6px var(--pix-primary-500);
    }

    input {
      @include input();

      flex-grow: 1;
      height: 34px;
      border: none;
      outline: none;
    }
  }

  &__with-prefix {
    input {
      padding-left: 0;
    }
  }

  &__prefix {
    padding: 0 4px 0 8px;
  }

  &__button {
    margin-right: $pix-spacing-xxs;

    &:hover,
    &:active,
    &:focus {
      color: var(--pix-neutral-900);
      background-color: transparent;
    }
  }

  &__error-container {
    padding-right: $pix-spacing-m;

    @include formElementInError();
  }

  &__success-container {
    padding-right: $pix-spacing-m;

    @include formElementInSuccess();
  }

  &__icon {
    position: absolute;
    right: 12px;
    width: 10px;
    height: 10px;
    padding: 2px;
    color: var(--pix-neutral-0);
    font-size: 0.6rem;
    border-radius: 50%;
  }

  &__error-icon {
    background: var(--pix-error-700);
  }

  &__success-icon {
    background: var(--pix-success-700);
  }

  &__error-message {
    @include errorMessage();
  }
}
