.pix-return-to {
  display: inline-flex;
  align-items: center;
  font-weight: $font-medium;
  font-size: 1rem;
  letter-spacing: 0.15px;
  text-decoration: none;
  border-bottom: transparent solid 2px;

  &__icon {
    position: relative;
    z-index: 3;
    padding: 4px 7px;
    font-size: 1rem;
  }

  &__icon::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: 0.3s ease opacity;
    content: '';
  }

  &__text {
    margin-left: 4px;
  }

  &:hover,
  &:active {
    background-color: transparent;
    border-bottom-color: transparent;
    cursor: pointer;

    ::before {
      opacity: 0.2;
    }
  }

  &:focus-visible {
    background-color: var(--pix-warning-500);
    border-bottom: var(--pix-neutral-900) solid 2px;

    .pix-return-to__text {
      padding-right: 6px;
    }
  }

  @mixin coloriseLink($textColor, $textHoverColor, $arrowColor) {
    color: $textColor;

    .pix-return-to__icon {
      color: $arrowColor;
    }

    &:hover,
    &:active {
      color: $textHoverColor;

      ::before {
        background-color: $arrowColor;
      }
    }
  }

  &--white {
    @include coloriseLink(var(--pix-neutral-20), var(--pix-neutral-0), var(--pix-neutral-0));
  }

  &--black {
    @include coloriseLink(var(--pix-neutral-800), var(--pix-neutral-900), var(--pix-neutral-500));
  }

  &--blue {
    @include coloriseLink(var(--pix-communication-dark), var(--pix-primary-700), var(--pix-communication-dark));
  }
}
