.pix-app-layout {
  display: grid;
  grid-template-columns: minmax(214px, auto) 1fr;
  gap: var(--pix-spacing-6x);
  padding: var(--pix-spacing-6x);

  @include device-is('mobile') {
    display: block
  }

  &--orga {
    background-color: var(--pix-orga-50);

    --pix-navigation-color: var(--pix-orga-500);
    --pix-navigation-text-color: var(--pix-neutral-0);
  }

  &--certif {
    background-color: var(--pix-certif-50);

    --pix-navigation-color: var(--pix-certif-500);
    --pix-navigation-text-color: var(--pix-neutral-0);
  }

  &--primary {
    background-color: var(--pix-primary-10);

    --pix-navigation-color: var(--pix-primary-700);
    --pix-navigation-text-color: var(--pix-neutral-0);
  }
}
