.pix-message {
  @extend %pix-body-s;

  display: flex;
  gap: $pix-spacing-xs;
  align-items: center;
  margin: 0;
  padding: $pix-spacing-s $pix-spacing-m;
  font-size: 0.875rem;
  border: 1px solid currentcolor;
  border-radius: $pix-spacing-xxs;

  &.pix-message--info {
    color: var(--pix-info-700);
    background-color: var(--pix-info-50);
  }

  &.pix-message--alert {
    color: var(--pix-error-700);
    background-color: var(--pix-error-50);
  }

  &.pix-message--error {
    color: var(--pix-error-700);
    background-color: var(--pix-error-50);
  }

  &.pix-message--success {
    color: var(--pix-success-700);
    background-color: var(--pix-success-50);
  }

  &.pix-message--warning {
    color: var(--pix-warning-700);
    background-color: var(--pix-warning-50);
  }
}
