.pix-message {
  @import 'reset-css';

  margin: 0;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  border-radius: 4px;
  align-items: center;
  display: flex;

  &.pix-message--info {
    color: $pix-primary-70;
    background-color: $pix-primary-10;
  }
  &.pix-message--alert {
    color: $pix-error-70;
    background-color: $pix-error-10;
  }
  &.pix-message--error {
    color: $pix-error-70;
    background-color: $pix-error-10;
  }
  &.pix-message--success {
    color: $pix-success-70;
    background-color: $pix-success-10;
  }
  &.pix-message--warning {
    color: $pix-warning-60;
    background-color: $pix-warning-10;
  }

  svg {
    margin-right: 8px;
  }
}
