.pix-checkbox {
  position: relative;
  z-index: 0;
  align-items: center;
  display: flex;
  color: $pix-neutral-70;
  cursor: pointer;

  & + .pix-checkbox {
    margin-top: $pix-spacing-s;
  }
}

/* Label */
.pix-checkbox__label {
  padding-left: 12px;
  color: $pix-neutral-90;
  font-size: 1rem;
  line-height: 1.5;

  &--small {
    font-size: 0.875rem;
  }

  &--large {
    font-size: 1.125rem;
  }
}

/* Input */
.pix-checkbox__input {
  position: relative;
  width: 1rem;
  height: 1rem;
  background-color: $pix-neutral-0;
  border: 1.5px solid $pix-neutral-70;
  border-radius: 2px;
  appearance: none;
  cursor: pointer;

  // Hover effect
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 1rem;
    height: 1rem;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 50%;
    background-color: $pix-neutral-15;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
  }

  &:hover,
  &:focus-visible,
  &:active {
    border-color: $pix-neutral-90;

    &::before {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -50%) scale(1.75);
    }
  }

  &:active {
    &::before {
      background-color: $pix-neutral-22;
    }
  }

  // Checked state
  &:checked {
    background: $pix-primary;
    border-color: $pix-primary;

    &:hover,
    &:focus-visible,
    &:active {
      background: $pix-primary-60;
      border-color: $pix-primary-60;
    }

    &::after {
      content: '';
      position: absolute;
      inset: 10%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 3L0 4.5L5 9.5L13 1.5L11.5 0L5 6.5L1.5 3Z' fill='white'/%3E%3C/svg%3E%0A");
    }
  }

  // Indeterminate state
  &--indeterminate:checked {
    background: $pix-neutral-70;
    border-color: $pix-neutral-70;

    &:hover,
    &:focus-visible,
    &:active {
      background: $pix-neutral-90;
      border-color: $pix-neutral-90;
    }

    &::after {
      inset: 15%;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='2' viewBox='0 0 10 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='10' height='2' fill='white'/%3E%3C/svg%3E%0A");
    }
  }

  // Disabled state
  &:disabled,
  &--indeterminate:disabled {
    background: $pix-neutral-10;
    border-color: $pix-neutral-30;
    cursor: not-allowed;

    & + .pix-checkbox__label {
      cursor: not-allowed;
    }

    &:checked {
      background: $pix-neutral-30;
      border-color: $pix-neutral-30;
    }

    &::before {
      display: none;
    }
  }
}
