.pix-collapsible {
  background-color: var(--pix-neutral-0);
  border: 1px solid var(--pix-neutral-20);

  &:first-child,
  &:first-child .pix-collapsible__title {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  &:last-child,
  &:last-child .pix-collapsible__title:not([aria-expanded='true']) {
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  &:not(:first-child) {
    border-top: none;
  }
}

.pix-collapsible__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: $pix-spacing-s;
  color: var(--pix-neutral-900);
  font-size: 1rem;
  line-height: 1.25;
  border: none;

  &:hover,
  &:focus,
  &[aria-expanded='true'] {
    background-color: var(--pix-neutral-20);
  }

  &[aria-expanded='true'] {
    border-bottom: 1px solid var(--pix-neutral-20);
  }
}

.pix-collapsible-title {
  &__container {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  &__icon {
    margin-right: $pix-spacing-xs;
    color: var(--pix-neutral-500);
  }

  &__toggle-icon {
    width: 1rem;
    height: 1rem;
    margin-left: $pix-spacing-xs;
    padding: 0.5rem;
    border-radius: 50%;
  }
}

.pix-collapsible__title:hover .pix-collapsible-title__toggle-icon {
  background-color: var(--pix-neutral-20);
}

.pix-collapsible__content {
  padding: $pix-spacing-s;
  color: var(--pix-neutral-500);
  font-size: 0.875rem;
  line-height: 1.25rem;

  &[aria-hidden='true'] {
    display: none;
  }
}
