.pix-textarea {
  textarea {
    width: 100%;
    padding: 10px 16px;
    color: $pix-neutral-90;
    font-size: 0.875rem;
    border: 1px solid $pix-neutral-40;
    border-style: solid;
    border-radius: 4px;
    resize: vertical;

    @include hoverFormElement();
    @include focusFormElement();

    &.pix-textarea--error {
      @include formElementInError();
    }
  }

  p {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 6px;
    margin-bottom: 0;
    color: $pix-neutral-45;
    font-size: 12px;
  }

  &__label {
    @include label();
  }

  &__error-message {
    @include errorMessage();
  }
}
