.indicator-card {
  display: flex;
  width: 100%;
  min-height: 112px;
  padding: 0;
  background-color: var(--pix-neutral-0);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(var(--pix-neutral-900), 0.05);

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 96px;
    font-size: 2.5rem;
    border-radius: 8px 0 0 8px;

    &--grey {
      color: var(--pix-neutral-500);
      background-color: var(--pix-neutral-20);  
    }

    &--blue {
      color: var(--pix-primary-700);
      background-color: var(--pix-primary-10);  
    }

    &--green {
      color: var(--pix-success-700);
      background-color: var(--pix-success-50);  
    }

    &--purple {
      color: var(--pix-tertiary-900);
      background-color: var(--pix-tertiary-100);  
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $pix-spacing-s $pix-spacing-m;
    color: var(--pix-neutral-500);
  }

  &__title {
    @extend %pix-body-l;

    display: flex;
    align-items: center;
    margin-bottom: $pix-spacing-xxs;
    font-weight: $font-medium;
    font-size: 1rem;
    line-height: 1.375rem;
  }

  &__value {
    @extend %pix-title-m;

    margin-bottom: $pix-spacing-xxs;
  }

  &__sub {
    @extend %pix-body-s;

    display: flex;
    gap: 10px;
    font-weight: $font-normal;
  }

  &__tooltip {
    font-weight: $font-normal;
  }

  &__tooltip-icon {
    margin: 0 $pix-spacing-xs;
    color: var(--pix-neutral-100);
  }
}
