.pix-radio-button {
  cursor: pointer;
  font-family: $font-roboto;
  font-size: 0.875rem;
  color: $pix-neutral-70;

  label {
    display: flex;
    align-items: center;
  }

  input {
    appearance: none;
    position: relative;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin: 0 10px 0 0;
    border: 1px solid $pix-neutral-70;
    cursor: pointer;
    background-color: transparent;

    &:hover {
      background-color: $pix-neutral-15;
      box-shadow: 0 0 0 8px $pix-neutral-15;
      transition: all 0.3s ease;
    }

    &:focus-visible {
      box-shadow: $pix-neutral-0 0 0 0 2px, $pix-primary 0 0 0 4px;
      outline: none;
    }

    &:active {
      border-color: $pix-primary;
      background-color: transparent;
      box-shadow: none;
    }

    &:checked {
      border-color: $pix-primary;

      &:after {
        background-color: $pix-primary;
        border-radius: 50%;
        content: '';
        height: 12px;
        width: 12px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &:disabled {
      border: 1px solid $pix-neutral-45;
      background-color: transparent;
      box-shadow: none;
      cursor: not-allowed;

      &:checked:after {
        background-color: $pix-neutral-25;
      }
    }
  }

  &--disabled {
    cursor: not-allowed;
    color: $pix-neutral-45;
  }
}
