.pix-button {

  @import 'reset-css';
  border-color: transparent;
  color: $white;
  font-size: 1rem;
  white-space: nowrap;
  font-weight: 500;
  letter-spacing: .012rem;
  cursor: pointer;
  font-family: 'Roboto', Arial, sans-serif;
  background-color: $blue;

  .loader > div {
    width: 10px;
    height: 10px;
    background-color: $white;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .loader--white > div {
    background-color: $white;
  }
  .loader--grey > div {
    background-color: $grey-80;
  }
  .loader .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .loader .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  &--shape-rounded {
    border-radius: 23px;
  }

  &--shape-squircle {
    border-radius: 5px;
  }

  &--size-big {
    padding: 14px 24px;
  }

  &--size-small.pix-button--shape-rounded {
    padding: 10px 24px;
  }

  &--size-small.pix-button--shape-squircle {
    padding: 10px 16px;
  }

  &--background-blue {
    background-color: $blue;

    &:hover {
      background-color: darken($blue, 4%);
    }

    &:active {
      background-color: darken($blue, 8%);
    }
  }

  &--background-green {
    background-color: #037620;

    &:hover {
      background-color: darken(#037620, 4%);
    }

    &:active {
      background-color: darken(#037620, 8%);
    }
  }

  &--background-yellow {
    color: $grey-100;
    background-color: $yellow;

    &:hover {
      background-color: darken($yellow, 4%);
    }

    &:active {
      background-color: darken($yellow, 8%);
    }
  }

  &--background-grey {
    background-color: $blue-zodiac;

    &:hover {
      background-color: darken($blue-zodiac, 4%);
    }

    &:active {
      background-color: darken($blue-zodiac, 8%);
    }
  }

  /* deprecated in favor of --background-transparent-light + --border */
  &--background-transparent {
    background-color: transparent;
    color: $grey-50;
    border: 1px solid $grey-50;
  }

  &--background-transparent-light {
    background-color: transparent;
    color: $grey-60;

    &:hover {
      background-color: rgba($black, 0.1);
    }

    &:active {
      background-color: rgba($black, 0.2);
    }

    &.pix-button--border {
      border: 1px solid $grey-50;

      &:hover, &:active {
        border-color: $grey-80;
      }
    }
  }

  &--background-transparent-dark {
    background-color: transparent;
    color: $white;

    &:hover {
      background-color: rgba($black, 0.1);
    }

    &:active {
      background-color: rgba($black, 0.2);
    }

    &.pix-button--border {
      border: 1px solid $white;
    }
  }

  &--disabled {
    opacity: .5;
    cursor: default;
  }

  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }

  @keyframes sk-bouncedelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
      }
  }
}
