.pix-background-header {
  position: relative;
  padding: 68px 24px 0;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    min-height: 270px;
    background: $pix-primary-app-gradient;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    color: $pix-neutral-0;
  }

  &__content {
    max-width: 980px;
    margin: 0 auto;
  }
}