.pix-button__icon {
  height: 1rem;

  &--before {
    margin-right: $spacing-xs;
  }

  &--after {
    margin-left: $spacing-xs;
  }
}

.pix-button .loader {
  position: absolute;

  &__not-visible-text {
    visibility: hidden;
  }
}

.loader > div {
  width: 10px;
  height: 10px;
  background-color: $pix-neutral-0;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loader--white > div {
  background-color: $pix-neutral-0;
}
.loader--grey > div {
  background-color: $pix-neutral-80;
}
.loader .bounce1 {
  animation-delay: -0.32s;
}

.loader .bounce2 {
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
