.pix-pagination{
  display: flex;
  justify-content: center;
  margin: 16px 0;
  color: $grey-60;
  font-size: 0.875rem;
  &__size {
    display: none;
    align-items: center;
    padding: 0;

    .pagination-size__label {
      margin-right: 16px;
    }

    select.pagination__choice {
      height: 36px;
      font-size: 0.8rem;
      padding-left: 8px;
      padding-right: 24px;
    }
  }

  &__navigation{
    display: flex;
    align-items: center;
    padding: 0;
    gap: 12px;
    flex-direction: column-reverse;
    &-action {
      display: flex;
      align-items: center;
    }
  }
}

@include device-is('tablet') {
  .pix-pagination {
    justify-content: space-between;
    &__size{
      display: flex;
    }
    &__navigation{
      gap: initial;
      flex-direction:initial ;
    }
  }
}
