.pix-textarea {
  @import 'reset-css';

  textarea {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid $grey-40;
    border-style: solid;
    border-radius: 4px;
    padding: 8px;
    font-family: $font-roboto;
    color: $grey-90;
    font-size: 0.875rem;
    resize: vertical;

    @include hoverFormElement();
    @include focusFormElement();
  }

  p {
    color: $grey-45;
    margin-top: 6px;
    font-size: 12px;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 0;
  }

  &__label{
    @include label();
  }
}
