.pix-button {

  @import 'reset-css';
  border-color: transparent;
  color: $grey-0;
  font-size: 1rem;
  white-space: nowrap;
  font-weight: 500;
  letter-spacing: .012rem;
  cursor: pointer;
  font-family: 'Roboto', Arial, sans-serif;

  .loader > div {
    width: 10px;
    height: 10px;
    background-color: $grey-0;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .loader--white > div {
    background-color: $grey-0;
  }
  .loader--grey > div {
    background-color: $grey-80;
  }
  .loader .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .loader .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  &--rounded-big {
    padding: 14px 24px;
    border-radius: 23px;
  }

  &--rounded-small {
    padding: 10px 24px;
    border-radius: 23px;
  }

  &--squircle-big {
    padding: 14px 24px;
    border-radius: 5px;
  }

  &--squircle-small {
    padding: 10px 16px;
    border-radius: 5px;
  }

  &--background-blue {
    background-color: $blue;
  }

  &--background-green {
    background-color: #037620;
  }

  &--background-yellow {
    color: $grey-100;
    background-color: $warning;
  }

  &--background-transparent {
    background-color: transparent;
    color: $grey-50;
    border: 1px solid $grey-50;
  }

  &--disabled {
    opacity: .5;
    cursor: default;
  }

  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }

  @keyframes sk-bouncedelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
      }
  }
}
