.pix-background-header {
  @import 'reset-css';

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;

  &__background {
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    width: 100%;
    min-height: 270px;
    background: $pix-gradient;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    color: $grey-10;
  }
}
