@use "pix-design-tokens/typography";

.pix-segmented-control {
  display: inline-flex;
  flex-direction: column;
  gap: var(--pix-spacing-1x);
  color: var(--pix-neutral-900);
  font-size: 1rem;

  &--primary .radio {
    background-color: rgb(var(--pix-primary-100-inline), 0.50);
  }

  &--orga .radio {
    background-color: rgb(var(--pix-orga-500-inline), 0.20);
  }

  &--certif .radio {
    background-color: rgb(var(--pix-certif-500-inline), 0.20);
  }

  .radio {
      position: relative;
      display: inline-flex;
      gap: var(--pix-spacing-1x, 4px);
      align-items: flex-start;
      padding: var(--pix-spacing-1x, 4px);
      border-radius: 8px;

      :hover {
        cursor: pointer;
      }

      input[type="radio"], input[type="radio"]:checked, input[type="radio"]:focus-visible {
        position: absolute;
        outline: none;
        appearance: none;
      }

      label {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        padding: var(--pix-spacing-1x, 4px) 8px;
        border: 1px solid transparent;
        border-radius: 8px;
      }

      input[type="radio"]:checked + label {
        font-weight: var(--pix-font-bold);
        background: var(--pix-neutral-0);
      }

      input[type="radio"]:focus + label {
        border-color: var(--pix-neutral-900);
      }
    }

  &--inline {
    flex-direction: row;
    gap: var(--pix-spacing-2x);
    align-items: center;
  }
}
