.pix-search-input {
  position: relative;
  display: flex;
  flex-direction: column;
}

.pix-search-input__label {
  margin-bottom: var(--pix-spacing-1x);
  color: var(--pix-neutral-900);
  font-size: 0.875rem;
}

.pix-search-input__input-container {
  position: relative;

  svg {
    position: absolute;
    bottom: calc(50% - 8px);
    left: 12px;
    width: 12px;
    height: 12px;
    padding: 2px;
    color: var(--pix-neutral-500);
    font-size: 0.6rem;
  }
}

.pix-search-input__input {
  @extend %pix-form-element-state;
  @extend %pix-input-default;


  width: 100%;
  height: 36px;
  padding-left: var(--pix-spacing-12x);
  border: 1px solid var(--pix-neutral-500);

  &::placeholder {
    color: var(--pix-neutral-500);
  }
}
