.pix-stars {
  @import 'reset-css';
  line-height: 0;

  > svg {
    width: 36px;
    height: 36px;
  }

  &--blue > &__acquired {
    fill: $pix-primary;
  }

  &--blue > &__unacquired {
    fill: $pix-neutral-15;
  }

  &--grey > &__acquired {
    fill: $pix-neutral-40;
  }
  &--grey > &__unacquired {
    fill: $pix-neutral-0;
    stroke: $pix-neutral-40;
  }

  &__acquired {
    fill: url(#pix-stars-default);
  }

  &__unacquired {
    fill: $pix-neutral-15;
  }
}
