.pix-tag {
  @extend %pix-body-s;

  display: inline-block;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  padding: 4px 16px;
  border: 1px solid transparent;
  border-radius: 0.95rem;
  color: $pix-neutral-0;
  background-color: $pix-primary;
  font-weight: $font-medium;

  &--blue-light {
    color: $pix-primary-80;
    background-color: $pix-primary-10;
  }

  &--green {
    background-color: $pix-success-70;
  }

  &--green-light {
    color: $pix-success-80;
    background-color: $pix-success-10;
  }

  &--purple {
    background-color: $pix-tertiary-60;
  }

  &--purple-light {
    color: $pix-tertiary-80;
    background-color: $pix-tertiary-5;
  }

  &--yellow {
    color: $pix-neutral-90;
    background-color: $pix-warning-40;
  }

  &--yellow-light {
    color: $pix-warning-80;
    background-color: $pix-warning-10;
  }

  &--orange {
    background-color: $pix-warning-70;
  }

  &--orange-light {
    color: $pix-warning-80;
    background-color: $pix-warning-10;
  }

  &--grey {
    color: $pix-neutral-15;
    background-color: $pix-neutral-60;
  }

  &--grey-light {
    color: $pix-neutral-90;
    background-color: $pix-neutral-20;
  }

  &--compact {
    @extend %pix-body-xs;

    font-weight: $font-medium;
    text-transform: uppercase;
    padding: 4px 13px;
    line-height: inherit;
  }
}
