.pix-filter-banner {
  @import 'reset-css';
  display: flex;
  flex-direction: column;
  position: relative;
  gap: $spacing-xs;
  width: 100%;
  background-color: $pix-neutral-0;
  box-shadow: 0 2px 5px 0 rgba($pix-neutral-110, 0.05);
  min-height: 64px;
  padding: $spacing-s $spacing-m;

  &__title {
    color: $pix-neutral-60;
    font-family: $font-roboto;
    font-size: 0.875rem;
    margin: 0;
  }

  &__container-filter {
    display: flex;
    flex-direction: column;
    gap: $spacing-s;
  }

  &__details {
    color: $pix-neutral-60;
    font-family: $font-roboto;
    font-weight: $font-medium;
    padding: $spacing-xs 0 $spacing-xs 0;
    margin: 0;
    font-size: 0.875rem;
    border-top: 1px solid $pix-neutral-15;
  }

  &__button {
    font-size: 0.875rem;
  }
}

.pix-filter-banner-button__icon {
  padding-right: $spacing-xxs;
}

@include device-is('tablet') {
  .pix-filter-banner {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: $spacing-m;

    &__container-title {
      display: flex;
      align-items: center;
    }

    &__container-filter {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__container-action {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &__details {
      padding: 0 $spacing-s 0 0;
      text-align: center;
      border: none;
    }

    &__button-container {
      border-left: 1px solid $pix-neutral-15;
      padding-left: $spacing-s;
    }
  }
}
