@use "pix-design-tokens/typography";
.pix-return-to {
  @extend %pix-body-l;

  display: inline-flex;
  gap: var(--pix-spacing-1x);
  align-items: center;
  text-decoration: none;
  border-bottom: transparent solid 2px;

  &__icon {
    position: relative;
    width: 2.3rem;
    height: 2.3rem;
    padding: var(--pix-spacing-1x) var(--pix-spacing-2x);
  }

  &:focus,
  &:hover,
  &:active {
    background-color: transparent;
    border-bottom-color: transparent;
    outline: 0;
    cursor: pointer;
  }

  @mixin coloriseLink($defaultColor, $focusColor) {
    color: $defaultColor;

    &:hover {
      .pix-return-to__icon {
        color: var(--pix-neutral-900);
        background-color: var(--pix-neutral-20);
        border-radius: 50%;
      }
    }

    &:focus {
      .pix-return-to__icon {
        color: $focusColor;
        background-color: $defaultColor;
        border-radius: 50%;
        outline: 1px solid $focusColor;
        outline-offset: -3px;
      }
    }

    &:active {
      .pix-return-to__icon {
        color: var(--pix-neutral-900);
        background-color: var(--pix-neutral-100);
        border-radius: 50%;
      }
    }
  }

  &--neutral-light {
    @include coloriseLink(var(--pix-neutral-20), var(--pix-neutral-900));
  }

  &--neutral-dark {
    @include coloriseLink(var(--pix-neutral-900), var(--pix-neutral-0));
  }
}
