.pix-radio-button {
  display: flex;
  align-items: center;
  cursor: pointer;

  & + .pix-radio-button {
    margin-top: $pix-spacing-s;
  }

  &__label {
    padding-left: 12px;
    color: $pix-neutral-90;
    font-size: 1rem;
    line-height: 1.5;
  }

  &__input {
    position: relative;
    width: 1rem;
    height: 1rem;
    background-color: $pix-neutral-0;
    border: 1.5px solid $pix-neutral-70;
    border-radius: 50%;
    appearance: none;

    // Hover effect
    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      width: 1rem;
      height: 1rem;
      transform: translate(-50%, -50%) scale(1);
      border-radius: 50%;
      background-color: $pix-neutral-15;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease;
    }

    &:hover,
    &:focus-visible,
    &:active {
      &::before {
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.75);
      }
    }

    &:active {
      &::before {
        background-color: $pix-neutral-22;
      }
    }

    // Checked state
    &:checked {
      border-color: $pix-primary;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        height: 62.5%;
        width: 62.5%;
        transform: translate(-50%, -50%);
        background-color: $pix-primary;
        border-radius: 50%;
      }
    }

    // Disabled state
    &:disabled {
      background-color: $pix-neutral-10;
      border-color: $pix-neutral-30;
      cursor: not-allowed;

      & + .pix-radio-button__label {
        cursor: not-allowed;
      }

      &::before {
        display: none;
      }

      &:checked::after {
        background-color: $pix-neutral-30;
      }
    }
  }
}
