.pix-input-password {
  display: flex;
  flex-direction: column;
  position: relative;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid $pix-neutral-40;
    border-radius: $spacing-xxs;
    padding: 1px 0 1px 1px;

    @include hoverFormElement;

    &:focus-within {
      border-color: $pix-primary;
      box-shadow: inset 0 0 0 0.6px $pix-primary;
    }

    input {
      @include input;

      height: 34px;
      border: none;
      outline: none;
      flex-grow: 1;
    }
  }

  &__with-prefix {
    input {
      padding-left: 0;
    }
  }

  &__prefix {
    padding: 0 4px 0 8px;
  }

  &__button {
    margin-right: $spacing-xxs;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      color: $pix-neutral-90;
    }
  }

  &__error-container {
    padding-right: $spacing-m;
    @include formElementInError;
  }

  svg.pix-input-password__error-icon {
    position: absolute;
    right: 6px;
    color: $pix-neutral-0;
    background: $pix-error-70;
    border-radius: 50%;
    font-size: 0.6rem;
    padding: 2px;
    width: 18px;
    height: 18px;
  }
}
