.pix-multi-select {
  display: inline-block;
  position: relative;

  &__label {
    @include label();
  }
}

.pix-multi-select-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: $font-roboto;
  font-weight: $font-normal;
  position: relative;
  border: 1px $pix-neutral-40 solid;
  height: 36px;
  padding: 0 32px 0 16px;
  width: 100%;
  background-color: $pix-neutral-0;
  border-radius: 4px;
  outline: none;
  font-size: 0.875rem;
  cursor: pointer;
  color: $pix-neutral-90;

  @include hoverFormElement();
  @include focusWithinFormElement();

  &--big {
    height: 44px;
  }

  &__search-icon {
    color: $pix-neutral-30;
  }

  &__title {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  input.pix-multi-select-header__search-input {
    height: inherit;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 10px;
    border-radius: 3px;
    font-size: 0.875rem;
    color: $pix-neutral-90;
    background: transparent;
  }

  &__dropdown-icon {
    @extend %pix-body-s;

    color: $pix-neutral-60;
    right: 10px;
    top: calc(50% - 6px);
    position: absolute;
    pointer-events: none;
  }
}

.pix-multi-select-list {
  width: 100%;
  margin: 0;
  z-index: 200;
  background-color: $pix-neutral-0;
  position: absolute;
  border-top: none;
  border-radius: 0 0 4px 4px;
  overflow-y: auto;
  max-height: 200px;
  list-style-type: none;
  padding: 0;
  box-shadow: 0 6px 12px rgba(7, 20, 46, 0.08);
  transition: all 0.1s ease-in-out;
  margin-top: $pix-spacing-xxs;

  &__item-label {
    padding: $pix-spacing-xs $pix-spacing-m;
  }

  &--hidden {
    visibility: hidden;
    opacity: 0;
  }

  &::-webkit-scrollbar {
    width: 11px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px;
    border: 1px solid $pix-neutral-20;
    background: $pix-neutral-0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: $pix-neutral-30;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $pix-neutral-35;
  }

  li.pix-multi-select-list__item {
    position: relative;
    list-style: none;

    &:hover,
    &:focus {
      outline: none;
      cursor: pointer;
      background-color: $pix-neutral-10;
    }

    &--no-result {
      text-align: center;
      padding: 12px 0;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}
