.pix-tag {
  @import 'reset-css';

  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  line-height: 1.25rem;
  padding: 0 8px;

  font-family: $font-roboto;
  font-size: 0.8125rem;
  font-weight: $font-normal;

  border: 1px solid transparent;
  border-radius: 0.75rem;

  color: $white;
  background-color: $blue;

  &--blue-light {
    color: darken($blue, 10%);
    background-color: lighten($blue, 30%);
  }

  &--green {
    background-color: $green;
  }

  &--green-light {
    color: $green;
    background-color: lighten($green, 65%);
  }

  &--purple {
    background-color: $purple;
  }

  &--purple-light {
    color: darken($purple, 10%);
    background-color: lighten($purple, 30%);
  }

  &--yellow {
    color: $grey-90;
    background-color: $yellow;
  }

  &--yellow-light {
    color: darken($yellow, 25%);
    background-color: lighten($yellow, 35%);
  }

  &--grey {
    color: $grey-15;
    background-color: $grey-60;
  }

  &--grey-light {
    color: $grey-60;
    background-color: $grey-15;
  }

  &--uppercase {
    text-transform: uppercase;
  }
}
