.pix-modal__overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  text-align: center; // Used to center horizontally the inline-block modal content
  padding: $spacing-xs 0;
  background-color: rgb(52 69 99 / 70%);
  transition: all 0.3s ease-in-out;

  // This block is used to center vertically the modal
  // if the content is less than 100vh
  // Inspired by https://mui.com/material-ui/react-dialog/#scrolling-long-content
  &::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
  }

  &--hidden {
    visibility: hidden;
    opacity: 0;
  }
}

$modal-padding: 24px;
$mobile-close-button-size: 32px;
$tablet-close-button-size: 40px;
$space-between-title-and-close-button: 8px;
$button-margin: 16px;

.pix-modal {
  display: inline-block;
  vertical-align: middle; // Centered vertically with the .pix-modal__overlay::after which is 100% height
  width: 512px;
  max-width: calc(
      100% - #{2 * $spacing-xs}
    ); // Horizontal margin sets here to have extra space for the .pix-modal__overlay::after on mobile

  text-align: initial;
  background-color: $pix-neutral-10;
  box-shadow: 1px 1px 5px rgb(0 0 0 / 10%);
  border-radius: 4px;
  overflow: hidden;

  &__header {
    background: $pix-neutral-0;
    border-bottom: 1px solid $pix-neutral-20;
    padding: $modal-padding;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__close-button {
    flex-shrink: 0;
    margin-top: -4px;

    @include device-is('tablet') {
      height: $tablet-close-button-size;
      width: $tablet-close-button-size;
    }
  }

  &__title {
    margin-bottom: 0;
    font-family: $font-open-sans;
    color: $pix-neutral-90;
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: $font-normal;
    padding-right: $mobile-close-button-size + $space-between-title-and-close-button;

    @include device-is('tablet') {
      padding-right: $tablet-close-button-size + $space-between-title-and-close-button;
    }
  }

  &__content {
    padding: $modal-padding;
    font-size: 0.875rem;
    color: $pix-neutral-90;
    line-height: 1.375rem;
    font-family: $font-roboto;
    font-weight: $font-normal;

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__footer {
    padding: 0 $modal-padding $modal-padding - $button-margin;
  }
}
