.pix-collapsible {
  border: 1px solid $pix-neutral-20;
  background-color: $pix-neutral-0;

  &:first-child,
  &:first-child .pix-collapsible__title {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  &:last-child,
  &:last-child .pix-collapsible__title:not([aria-expanded='true']) {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  &:not(:first-child) {
    border-top: none;
  }
}

.pix-collapsible__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: $spacing-s;
  border: none;
  color: $pix-neutral-90;
  font-size: 1rem;
  line-height: 1.25;

  &:hover,
  &:focus,
  &[aria-expanded='true'] {
    background-color: $pix-neutral-10;
  }

  &[aria-expanded='true'] {
    border-bottom: 1px solid $pix-neutral-20;
  }
}

.pix-collapsible-title {
  &__container {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  &__icon {
    margin-right: $spacing-xs;
    color: $pix-neutral-50;
  }

  &__toggle-icon {
    width: 1rem;
    height: 1rem;
    padding: 0.5rem;
    margin-left: $spacing-xs;
    border-radius: 50%;
  }
}

.pix-collapsible__title:hover .pix-collapsible-title__toggle-icon {
  background-color: $pix-neutral-20;
}

.pix-collapsible__content {
  padding: $spacing-s;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: $pix-neutral-60;

  &[aria-hidden='true'] {
    display: none;
  }
}
