.indicator-card {
  display: flex;
  width: 100%;
  min-height: 112px;
  padding: 0;
  background-color: $pix-neutral-0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba($pix-neutral-110, 0.05);

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 96px;
    font-size: 2.5rem;
    border-radius: 8px 0 0 8px;

    &--grey {
      color: $pix-neutral-60;
      background-color: $pix-neutral-5;  
    }

    &--blue {
      color: $pix-primary-60;
      background-color: $pix-primary-5;  
    }

    &--green {
      color: $pix-success-60;
      background-color: $pix-success-5;  
    }

    &--purple {
      color: $pix-tertiary-60;
      background-color: $pix-tertiary-5;  
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $pix-spacing-s $pix-spacing-m;
    color: $pix-neutral-60;
  }

  &__title {
    @extend %pix-body-l;

    display: flex;
    align-items: center;
    margin-bottom: $pix-spacing-xxs;
    font-weight: $font-medium;
    font-size: 1rem;
    line-height: 1.375rem;
  }

  &__value {
    @extend %pix-title-m;

    margin-bottom: $pix-spacing-xxs;
  }

  &__sub {
    @extend %pix-body-s;

    display: flex;
    gap: 10px;
    font-weight: $font-normal;
  }

  &__tooltip {
    font-weight: $font-normal;
  }

  &__tooltip-icon {
    margin: 0 $pix-spacing-xs;
    color: $pix-neutral-30;
  }
}
