.pix-icon-button {
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: $pix-neutral-60;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover:enabled {
    background-color: $pix-neutral-20;
    outline: 0;
    color: $pix-neutral-60;
  }

  &:focus:enabled {
    background-color: $pix-neutral-60;
    outline: 1px solid $pix-neutral-0;
    outline-offset: -3px;
    color: $pix-neutral-0;
  }

  &:active:enabled {
    background-color: $pix-neutral-22;
    outline: 0;
    color: $pix-neutral-60;
  }

  &--background {
    background-color: $pix-neutral-10;
  }

  &--small {
    width: 32px;
    height: 32px;
    font-size: 1rem;
  }

  &--big {
    width: 38px;
    height: 38px;
    font-size: 1.25rem;
  }
}
