.pix-input {
  display: flex;
  flex-direction: column;
  position: relative;

  &__label {
    font-family: $font-roboto;
    font-size: 0.875rem;
    color: $pix-neutral-70;
    margin-bottom: 4px;
  }

  &__information {
    font-family: $font-roboto;
    font-size: 0.75rem;
    margin-top: 4px;
    color: $pix-neutral-60;

    display: block;
  }

  &__container {
    position: relative;
  }

  svg {
    position: absolute;
    bottom: 7px;
    right: 6px;
    color: $pix-neutral-0;
    border-radius: 50%;
    font-size: 0.6rem;
    padding: 2px;
    width: 18px;
    height: 18px;

    &.pix-input__error-icon {
      background: $pix-error-70;
    }

    &.pix-input__success-icon {
      background: $pix-success-60;
    }
  }

  &__error-message {
    @include errorMessage();
    margin-bottom: 0;
    bottom: calc(-4px - 1px - 0.75rem);

    &.pix-input__error-message {
      margin-top: 4px;
    }
  }

  &__input--default {
    width: 100%;
    height: 36px;
    border: 1px solid $pix-neutral-40;

    @include input();
    @include hoverFormElement();
    @include focusFormElement();

    &::placeholder {
      color: $pix-neutral-30;
    }
  }

  &__input--error {
    padding-right: $spacing-l;
    @include formElementInError();
  }

  &__input--success {
    padding-right: $spacing-l;
    @include formElementInSuccess();
  }
}
