.pix-sidebar__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-y: scroll;
  background-color: rgba(52, 69, 99, 0.7);
  transition: all 0.3s ease-in-out;

  &--hidden {
    visibility: hidden;
    opacity: 0;
  }
}

.pix-sidebar {
  --sidebar-padding: var(--pix-spacing-4x);
  --mobile-close-button-size: var(--pix-spacing-8x);
  --tablet-close-button-size: var(--pix-spacing-10x);
  --space-between-title-and-close-button: var(--pix-spacing-2x);
  --button-margin: var(--pix-spacing-4x);

  display: flex;
  flex-direction: column;
  max-width: 320px;
  height: 100%;
  background: var(--pix-neutral-0);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  transform: translate(0);
  transition: transform 0.3s ease-in-out;

  &--hidden {
    transform: translate(-100%);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--sidebar-padding);
    border-bottom: 1px solid var(--pix-neutral-100);
  }

  &__close-button {
    flex-shrink: 0;

    @include device-is('tablet') {
      width: var(--tablet-close-button-size);
      height: var(--tablet-close-button-size);
    }
  }

  &__content {
    flex-grow: 1;
    overflow: auto;
  }

  &__title {
    @extend %pix-title-s;

    margin-bottom: 0;
    padding-right: var(--mobile-close-button-size) + var(--space-between-title-and-close-button);
    color: var(--pix-neutral-900);

    @include device-is('tablet') {
      padding-right: var(--tablet-close-button-size) + var(--space-between-title-and-close-button);
    }
  }

  &__footer {
    padding: var(--sidebar-padding);
    border-top: 1px solid var(--pix-neutral-100);
  }
}
