.pix-toggle {
  display: flex;
  flex-direction: column;

  &__label {
    color: var(--pix-neutral-900);

    @extend %pix-body-m;
  }

  &__button {
    width: fit-content;
    margin-top: $pix-spacing-xxs;
    padding: $pix-spacing-xxs;
    background-color: transparent;
    border: 1px solid var(--pix-neutral-500);
    border-radius: 4px;
  }

  &__on,
  &__off {
    display: inline-block;
    padding: $pix-spacing-xs;
    color: var(--pix-neutral-800);
    border-radius: 4px;

    @extend %pix-body-s;
  }

  &__off {
    color: var(--pix-neutral-20);
    background-color: var(--pix-neutral-800);
  }

  &--inline {
    flex-direction: row;
    gap: $pix-spacing-xxs;
    align-items: center;
  }

  &--inline,
  &--screen-reader-only {
    .pix-toggle {
      &__button {
        margin-top: 0;
      }
    }
  }

  &--pressed {
    .pix-toggle {
      &__on {
        color: var(--pix-neutral-20);
        background-color: var(--pix-neutral-800);
      }

      &__off {
        color: inherit;
        background-color: transparent;
      }
    }
  }
}
