.pix-stars {
  display: flex;
  height: 2.25rem;

  & * + * {
    margin-left: $pix-spacing-xxs;
  }
}

.pix-stars__item {
  height: 100%;
  fill: var(--pix-neutral-20);
  stroke: var(--pix-neutral-500);

  &[data-acquired] {
    fill: var(--pix-secondary-500);
    stroke: var(--pix-secondary-700);
  }
}

// Color variant : Blue
.pix-stars__item--color-blue[data-acquired] {
  fill: var(--pix-primary-500);
  stroke: var(--pix-primary-700);
}

// Color variant : Grey
.pix-stars__item--color-grey {
  fill: var(--pix-neutral-0);
  stroke: var(--pix-neutral-500);

  &[data-acquired] {
    fill: var(--pix-neutral-500);
    stroke: var(--pix-neutral-500);
  }
}
