@use "pix-design-tokens/breakpoints";
@use "pix-design-tokens/typography";

.pix-table {
  width: 100%;
  padding: var(--pix-spacing-4x);
  overflow: auto;
  background-color: var(--pix-neutral-0);
  border: solid 1px var(--pix-neutral-100);
  border-radius: var(--pix-spacing-2x);

  @extend %pix-body-s;

  &__condensed {
    th, td {
      padding: var(--pix-spacing-2x) var(--pix-spacing-4x);
    }
  }

  &__clickable-row {
    cursor: pointer;

    &:hover, &:focus, &:active {
      transition: 0.25s ease;
    }

    &:hover {
      background-color: rgba(var(--pix-neutral-100-inline), 0.50);
    }

    &:focus {
      background-color: rgba(var(--pix-neutral-100-inline), 0.40);
    }

    &:active {
      background-color: rgba(var(--pix-neutral-100-inline), 0.75);
    }
  }

  table {
    min-width: 100%;
    border-collapse: collapse;

    tbody > tr:nth-of-type(even):not(.pix-table__clickable-row:hover, .pix-table__clickable-row:focus, .pix-table__clickable-row:active) {
      background-color: rgba(var(--pix-neutral-20-inline), 0.80);
    }

    thead.pix-table-header {
      &--primary {
        background: var(--pix-primary-10);
      }

      &--orga {
        background: var(--pix-orga-50);
      }

      &--certif {
        background: var(--pix-certif-50);
      }
    }

    .pix-table-header-container {
      display: flex;
      gap: var(--pix-spacing-1x);
      align-items: center;
    }

    th {
      text-align: start;
      vertical-align: middle;
    }

    td, th {
      padding: var(--pix-spacing-6x) var(--pix-spacing-4x);

      &:first-child {
        border-radius: var(--pix-spacing-2x) 0 0 var(--pix-spacing-2x);
      }

      &:last-child {
        border-radius: 0 var(--pix-spacing-2x) var(--pix-spacing-2x) 0;
      }
    }
  }
}

