.pix-icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: $pix-neutral-60;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:hover:enabled {
    color: $pix-neutral-60;
    background-color: $pix-neutral-20;
    outline: 0;
  }

  &:focus:enabled {
    color: $pix-neutral-0;
    background-color: $pix-neutral-60;
    outline: 1px solid $pix-neutral-0;
    outline-offset: -3px;
  }

  &:active:enabled {
    color: $pix-neutral-60;
    background-color: $pix-neutral-22;
    outline: 0;
  }

  &--background {
    background-color: $pix-neutral-10;
  }

  &--small {
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    font-size: 1rem;
  }

  &--big {
    width: 2.375rem;
    min-width: 2.375rem;
    height: 2.375rem;
    font-size: 1.25rem;
  }
}
