@use "pix-design-tokens/typography";

.pix-select_list {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-1x);
  padding: var(--pix-spacing-2x) var(--pix-spacing-1x);
}

.pix-select-list-category {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-1x);
  margin: 0;
  padding: 0;
  list-style: none;

  &__name {
    @extend %pix-body-s;

    padding: var(--pix-spacing-1x) var(--pix-spacing-3x);
    color: var(--pix-neutral-800);
    font-weight: var(--pix-font-bold);
    text-transform: capitalize;
    background-color: var(--pix-neutral-20);
    border-radius: 0.25rem;
  }

  &__option {
    @extend %pix-body-s;

    position: relative;
    display: flex;
    gap: var(--pix-spacing-2x);
    align-items: center;
    padding: var(--pix-spacing-2x) var(--pix-spacing-10x) var(--pix-spacing-2x) var(--pix-spacing-3x);
    color: var(--pix-neutral-900);
    border-radius: 0.25rem;

    &:hover {
      background-color: rgb(var(--pix-neutral-100-inline), 0.60);
      outline: none;
      cursor: pointer;
    }

    &:focus {
      background-color: var(--pix-primary-100);
      outline: none;
      cursor: pointer;
    }

    &--selected {
      color: var(--pix-primary-900);
      font-weight: var(--pix-font-bold);
      background-color: var(--pix-primary-10);
    }
  }

  &__option-checked {
    position: absolute;
    top: 50%;
    right: var(--pix-spacing-3x);
    transform: translateY(-50%);
  }
}

.pix-select-list__empty-search-message {
  @extend %pix-body-s;

  color: var(--pix-neutral-800);
  text-align: center;
}
