.pix-block {
  position: relative;
  background-color: $pix-neutral-0;
  border-radius: 5px;

  &--shadow-light {
    box-shadow: 0 4px 8px rgba($pix-neutral-110, 0.08);
  }

  &--shadow-heavy {
    box-shadow: 0 12px 24px rgba($pix-neutral-110, 0.08);
  }
}
