.pix-banner {
  @import 'reset-css';
  font-family: $font-roboto;
  font-weight: $font-normal;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  font-size: 0.75rem;

  @include device-is('tablet') {
    padding: 20px 60px;
    font-size: 0.875rem;
  }

  &__action {
    text-decoration: underline;
    letter-spacing: 0.028rem;
    color: inherit;
    .external-link {
      margin-left: 3px;
      font-size: 0.75rem;

      @include device-is('tablet') {
        font-size: 0.875rem;
      }
    }
  }

  &__icon {
    font-size: 0.875rem;
    margin-right: $spacing-xs;

    @include device-is('tablet') {
      font-size: 1rem;
    }
  }

  &--information {
    background-color: $pix-primary-5;
    color: $pix-primary-70;
  }

  &--warning {
    background-color: $pix-warning-5;
    color: $pix-warning-70;
  }

  &--error {
    background-color: $pix-error-5;
    color: $pix-error-70;
  }

  &--communication {
    background-color: $pix-primary;
    color: $pix-neutral-0;

    &-orga {
      background-color: $dark-orga;
      color: $pix-neutral-0;
    }

    &-certif {
      background-color: $pix-secondary-certif-50;
      color: $pix-neutral-0;
    }
  }
}
