.pix-block {
  position: relative;
  background-color: var(--pix-neutral-0);
  border-radius: 5px;

  &--shadow-light {
    @extend %pix-shadow-sm;
  }

  &--shadow-heavy {
    @extend %pix-shadow-xl;
  }
}
