.pix-select {
  @import 'reset-css';

  position: relative;

  @mixin pixSelect {
    appearance: none;
    border: 1.5px $grey-20 solid;
    box-sizing: border-box;
    border-radius: 3px;
    color: $black;
    font-family: $font-roboto;
    font-size: 1rem;
    height: 46px;
    width: 100%;

    &:focus, &:focus-within {
      box-shadow: 0 0 0 1.8pt $blue;
      outline: solid 1px $blue;
    }
  }

  select {
    @include pixSelect;
    padding: 0 32px 0 16px;

    &::-ms-expand {
      display: none;
    }
  }

  input {
    @include pixSelect;
    padding: 0 8px;
  
    // Remove arrow for Chrome
    &::-webkit-calendar-picker-indicator {
      display: none;
    }

    &.pix-select--is-valid:focus,
    &.pix-select--is-valid:focus-within {
      box-shadow: 0 0 0 1.8pt $green;
      outline-color: $green;
    }
  }

  &__icon {
    font-size: 11px;
    color: $grey-30;
    right: 8px;
    top: calc(50% - 6px);
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
  }
}
