.pix-pagination{
  @import 'reset-css';

  display: flex;
  justify-content: space-between;
  margin: 16px 0;
  color: $grey-60;
  font-size: 0.875rem;

  &__size {
    display: flex;
    align-items: center;
    padding: 0;

    .pagination-size__label {
      margin-right: 16px;
    }

    select.pagination__choice {
      height: 36px;
      font-size: 0.8rem;
      padding-left: 8px;
      padding-right: 24px;
    }
  }

  &__navigation{
    display: flex;
    align-items: center;
    padding: 0;

    .arrow {

      &--previous {
        margin: 0 8px;
      }

      &--next {
        margin-left: 8px;
      }
    }
  }
}
