.pix-link-back {
  font-size: 0.813rem;
  font-weight: $font-semi-bold;
  letter-spacing: 0.019rem;
  display: inline-flex;
  align-items: center;
  border-bottom: transparent solid 2px;
  
  &__icon {
    position: relative;
    z-index: 3;
    padding: 4px 7px;
    font-size: 1rem;
  }
  
  &__icon::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%; height: 100%;
    top: 0; left: 0;
    opacity: 0;
    border-radius: 50%;
    transition: 0.3s ease opacity;
  }

  &__text { margin-left: 4px; }

  &:hover, &:active {
    cursor: pointer;
    background-color: transparent;
    border-bottom-color: transparent;

    ::before { opacity: 0.2; }
  }

  &:focus-visible {
    background-color: $yellow;
    border-bottom: $grey-100 solid 2px;

    .pix-link-back__text {
      padding-right: 6px;
    }
  }

  @mixin coloriseLink($textColor, $textHoverColor, $arrowColor) {
    color: $textColor;

    .pix-link-back__icon { color: $arrowColor; }

    &:hover {
      color: $textHoverColor;

      ::before {
        background-color: $arrowColor;
      }
    }

    &:focus, &:focus .pix-link-back__icon {
      color: $grey-80;
    }
  }

  &--white { @include coloriseLink($grey-10, $white, $white); }
  &--black { @include coloriseLink($grey-80, $grey-200, $grey-60); }
  &--blue { @include coloriseLink($communication-dark, $blue-hover, $communication-dark); }
}
