@use "pix-design-tokens/breakpoints";
@use "pix-design-tokens/typography";

.pix-table {
  min-width: 100%;
  overflow: auto;

  @include breakpoints.device-is('desktop') {
    overflow: unset;
  }

  @extend %pix-body-s;

  &__caption {
    margin-bottom: var(--pix-spacing-3x);
    text-align: left;
    caption-side: top;

    @extend %pix-title-xxs;
  }

  &__clickable-row {
    cursor: pointer;

    &:hover, &:focus, &:active {
      transition: 0.25s ease;
    }

    &:hover {
      background-color: rgba(var(--pix-neutral-100-inline), 0.50);
    }

    &:focus {
      background-color: rgba(var(--pix-neutral-100-inline), 0.40);
    }

    &:active {
      background-color: rgba(var(--pix-neutral-100-inline), 0.75);
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    tbody > tr:nth-of-type(even):not(.pix-table__clickable-row:hover, .pix-table__clickable-row:focus, .pix-table__clickable-row:active) {
      background-color: rgba(var(--pix-neutral-20-inline), 0.80);
    }

    thead.pix-table-header {
      &--primary {
        background: var(--pix-primary-10);
      }

      &--orga {
        background: var(--pix-orga-50);
      }

      &--certif {
        background: var(--pix-certif-50);
      }

      &--admin {
        background: var(--pix-primary-100);
      }
    }

    .pix-table-header-container {
      display: flex;
      gap: var(--pix-spacing-1x);
      align-items: center;
    }

    th[scope='col'] {
      font-weight: var(--pix-font-bold);
      text-align: start;
      vertical-align: middle;
    }

    th[scope='row'] {
      font-weight: var(--pix-font-normal);
    }


    td, th {
      padding: var(--pix-spacing-4x) var(--pix-spacing-4x);

      &:first-child {
        border-radius: var(--pix-spacing-2x) 0 0 var(--pix-spacing-2x);
      }

      &:last-child {
        border-radius: 0 var(--pix-spacing-2x) var(--pix-spacing-2x) 0;
      }
    }
  }

  &--condensed {
    table {
      th, td {
        padding: .5rem var(--pix-spacing-4x);
      }
    }
  }
}

