.pix-message {
  @import 'reset-css';

  position: relative;
  margin: 0 0 1rem 0;
  padding: 1rem;
  border-radius: 4px;
  align-items: center;
  display: flex;

  &.pix-message--info { @include colorize($communication-light, 20%, 35%); }
  &.pix-message--alert { @include colorize($error, 20%, 40%); }
  &.pix-message--error { @include colorize($error, 20%, 40%); }
  &.pix-message--success { @include colorize($success, 25%, 35%); }
  &.pix-message--warning { @include colorize($warning, 25%, 35%); }

  svg {
    margin-right: 12px;
  }
}
