.pix-banner {
  display: flex;
  gap: $pix-spacing-xs;
  align-items: center;
  padding: $pix-spacing-s $pix-spacing-m;
  font-size: 0.875rem;
  border: 1px solid currentcolor;
  border-radius: $pix-spacing-xs;

  &__action {
    color: inherit;
    text-decoration: underline;

    .external-link {
      margin-left: 4px;
      font-size: 0.875rem;
    }
  }

  &__close {
    display: flex;
    margin-left: auto;
  }

  &__icon {
    font-size: 1.125rem;
  }

  &--information {
    color: var(--pix-info-700);
    background-color: var(--pix-info-50);

    .pix-icon-button {
      color: var(--pix-neutral-800);
      background-color: var(--pix-info-50);

      &:hover:enabled,
      &:focus:enabled,
      &:active:enabled {
        background-color: var(--pix-info-100);
      }

      &:focus:enabled {
        outline-color: var(--pix-primary-700);
      }
    }
  }

  &--warning {
    color: var(--pix-warning-700);
    background-color: var(--pix-warning-50);

    .pix-icon-button {
      color: var(--pix-neutral-800);
      background-color: var(--pix-warning-50);

      &:hover:enabled,
      &:focus:enabled,
      &:active:enabled {
        background-color: var(--pix-warning-100);
      }

      &:focus:enabled {
        outline-color: var(--pix-warning-700);
      }
    }
  }

  &--error {
    color: var(--pix-error-700);
    background-color: var(--pix-error-50);

    .pix-icon-button {
      color: var(--pix-neutral-800);
      background-color: var(--pix-error-50);

      &:hover:enabled,
      &:focus:enabled,
      &:active:enabled {
        background-color: var(--pix-error-100);
      }

      &:focus:enabled {
        outline-color: var(--pix-error-700);
      }
    }
  }

  &--communication {
    color: var(--pix-neutral-0);
    background-color: var(--pix-primary-500);

    &-orga {
      color: var(--pix-neutral-0);
      background-color: var(--pix-orga-500);
    }

    &-certif {
      color: var(--pix-neutral-0);
      background-color: var(--pix-certif-500);
    }
  }
}
