@import 'breakpoints';
@import 'colors';
@import 'fonts';
@import 'spacing';
@import 'form';
@import 'pix-background-header';
@import 'pix-banner';
@import 'pix-block';
@import 'pix-button-base';
@import 'pix-button';
@import 'pix-collapsible';
@import 'pix-filter-banner';
@import 'pix-icon-button';
@import 'pix-message';
@import 'pix-multi-select';
@import 'pix-progress-gauge';
@import 'pix-return-to';
@import 'pix-select';
@import 'pix-stars';
@import 'pix-tag';
@import 'pix-textarea';
@import 'pix-tooltip';
@import 'pix-button-link';
@import 'pix-button-upload';
@import 'pix-input';
@import 'pix-input-password';
@import 'pix-radio-button';
@import 'pix-input-code';
@import 'pix-select-grouped-options';

html {
  font-size: 16px;
}

body {
  font-family: $font-roboto;
}

* {
  box-sizing: border-box;
}
