@import 'breakpoints';
@import 'colors';
@import 'fonts';
@import 'pix-background-header';
@import 'pix-banner';
@import 'pix-block';
@import 'pix-button';
@import 'pix-collapsible';
@import 'pix-filter-banner';
@import 'pix-icon-button';
@import 'pix-message';
@import 'pix-multi-select';
@import 'pix-progress-gauge';
@import 'pix-return-to';
@import 'pix-select';
@import 'pix-stars';
@import 'pix-tag';
@import 'pix-textarea';
@import 'pix-tooltip';

html {
  font-size: 16px;
}

body {
  font-family: $font-roboto;
}

section {
  padding: 10px;
}
