<label class="pix-radio-button">
  <input
    class="pix-radio-button__input"
    type="radio"
    value={{@value}}
    disabled={{@isDisabled}}
    ...attributes
  />
  <span class="pix-radio-button__label">{{@label}}</span>
</label>