<button type="button" class="pix-action-button {{if @withBackground 'pix-action-button--background'}}" {{on "click" this.triggerAction}} ...attributes>
  <FaIcon @icon={{this.icon}} @prefix={{@iconPrefix}}/>
</button>
