<div class='pix-filter-banner' ...attributes>
  <div class='pix-filter-banner__container'>
    {{#if this.displayTitle}}
      <p class="pix-filter-banner__title">{{@title}}</p>
    {{/if}}
    <div class="pix-filter-banner__content">
      {{yield}}
    </div>
  </div>
  {{#if this.displayDetails}}
  <p class="pix-filter-banner__details">{{@details}}</p>
  {{/if}}
</div>
