<div class='pix-filter-banner' ...attributes>
  {{#if this.displayTitle}}
    <p class="pix-filter-banner__title">{{@title}}</p>
  {{/if}}
  <div class="pix-filter-banner__content">
    {{yield}}
  </div>
</div>
