// See https://www.figma.com/file/8RJ3aCSfdeQ8AZZVBBYKS8/Design-System-Pix?node-id=16%3A2
// stylelint-disable color-no-hex
:root {
  --pix-primary-10: #f7f5ff;
  --pix-primary-100: #cec3f4;
  --pix-primary-300: #957ee8;
  --pix-primary-500: #613fdd;
  --pix-primary-700: #452d9d;
  --pix-primary-900: #291a5d;
  --pix-secondary-50: #fffaeb;
  --pix-secondary-100: #ffefc0;
  --pix-secondary-300: #ffdc76;
  --pix-secondary-500: #ffcb33;
  --pix-secondary-700: #a16206;
  --pix-secondary-900: #5b3808;
  --pix-tertiary-100: #c3d0ff;
  --pix-tertiary-500: #3d68ff;
  --pix-tertiary-900: #1a2c6b;
  --pix-neutral-0: #ffffff;
  --pix-neutral-20: #f4f5f7;
  --pix-neutral-100: #cdd1d9;
  --pix-neutral-500: #5e6c84;
  --pix-neutral-800: #253858;
  --pix-neutral-900: #122647;
  --pix-info-50: #e6f2fe;
  --pix-info-100: #b0d3f4;
  --pix-info-500: #3b82f6;
  --pix-info-700: #1d4ed8;
  --pix-info-900: #1e3a8a;
  --pix-success-50: #e8f3ef;
  --pix-success-100: #b9d8cd;
  --pix-success-300: #67ab92;
  --pix-success-500: #1c825d;
  --pix-success-700: #145c42;
  --pix-success-900: #0c3727;
  --pix-warning-50: #fff7eb;
  --pix-warning-100: #ffe5c0;
  --pix-warning-300: #ffc676;
  --pix-warning-500: #f59e0b;
  --pix-warning-700: #b45309;
  --pix-warning-900: #78350f;
  --pix-error-50: #fbecec;
  --pix-error-100: #f1c4c4;
  --pix-error-500: #d24140;
  --pix-error-700: #952e2e;
  --pix-error-900: #581b1b;
  --pix-certif-50: #e8f2f2;
  --pix-certif-500: #187f7d;
  --pix-orga-50: #ebf1f9;
  --pix-orga-500: #3674bf;
  --pix-information-dark: #f24645;
  --pix-information-light: #f1a141;
  --pix-content-dark: #1a8c89;
  --pix-content-light: #52d987;
  --pix-communication-dark: #3d68ff;
  --pix-communication-light: #12a3ff;
  --pix-security-dark: #ac008d;
  --pix-security-light: #ff3f94;
  --pix-environment-dark: #5e2563;
  --pix-environment-light: #564da6;
  --pix-shadow: #07142e;
}

// @deprecated - SCSS variables are replaced by CSS variables
//// SOLID
// Primary
$pix-primary-5: #F2F9FF;
$pix-primary-10: #DCF1FF;
$pix-primary-20: #C4E6FF;
$pix-primary-30: #88BEFF;
$pix-primary-40: #5B94FF;
$pix-primary: #3D68FF;
$pix-primary-60: #2044DC;
$pix-primary-70: #0D25B3;
$pix-primary-80: #000E87;

// Secondary
$pix-secondary-5: #FFF9E6;
$pix-secondary-10: #FFF1C5;
$pix-secondary-20: #FFE381;
$pix-secondary: #FFD235;
$pix-secondary-40: #FFBE00;
$pix-secondary-50: #EAA600;
$pix-secondary-60: #D87016;
$pix-secondary-70: #A95800;
$pix-secondary-80: #874D00;

// Secondary Pix Certif
$pix-secondary-certif-5: #CCF6F5;
$pix-secondary-certif-10: #9AEDEB;
$pix-secondary-certif-20: #67E4E0;
$pix-secondary-certif-30: #34DBD6;
$pix-secondary-certif: #20B4AF;
$pix-secondary-certif-50: #17817E;
$pix-secondary-certif-60: #126765;
$pix-secondary-certif-70: #0E4D4C;
$pix-secondary-certif-80: #093432;

// Secondary Pix Orga
$pix-secondary-orga-5: #D5F9FF;
$pix-secondary-orga-10: #AAF4FF;
$pix-secondary-orga-20: #80EEFF;
$pix-secondary-orga-30: #55E8FF;
$pix-secondary-orga: #00DDFF;
$pix-secondary-orga-50: #00C1DF;
$pix-secondary-orga-60: #00A6BF;
$pix-secondary-orga-70: #008A9F;
$pix-secondary-orga-80: #006E80;

// Tertiary
$pix-tertiary-5: #EBE1FF;
$pix-tertiary-10: #D8C2FF;
$pix-tertiary-20: #C4A4FF;
$pix-tertiary-30: #B186FF;
$pix-tertiary: #9D67FF;
$pix-tertiary-50: #8A49FF;
$pix-tertiary-60: #6712FF;
$pix-tertiary-70: #4E00DB;
$pix-tertiary-80: #3B00A4;

// Success
$pix-success-5: #ECFDF5;
$pix-success-10: #D1FAE5;
$pix-success-20: #A7F3D0;
$pix-success-30: #6EE7B7;
$pix-success: #34D399;
$pix-success-50: #27B481;
$pix-success-60: #14865D;
$pix-success-70: #176C4D;
$pix-success-80: #104834;

// Warning
$pix-warning-5: #FFF9E6;
$pix-warning-10: #FFF1C5;
$pix-warning-20: #FFE381;
$pix-warning-30: #FFD235;
$pix-warning-40: #FFBE00;
$pix-warning-50: #EAA600;
$pix-warning-60: #D87016;
$pix-warning-70: #A95800;
$pix-warning-80: #874D00;

// Error
$pix-error-5: #FEF2F2;
$pix-error-10: #FEE2E2;
$pix-error-20: #FECACA;
$pix-error-30: #FCA5A5;
$pix-error-40: #F87171;
$pix-error-50: #EF4444;
$pix-error-60: #DC2626;
$pix-error-70: #B91C1C;
$pix-error-80: #991B1B;
$pix-error-90: #861212;

// Neutral
$pix-neutral-0: #FFFFFF;
$pix-neutral-5: #FAFBFC;
$pix-neutral-10: #F4F5F7;
$pix-neutral-15: #EAECF0;
$pix-neutral-20: #DFE1E6;
$pix-neutral-22: #C1C7D0;
$pix-neutral-25: #A5ADBA;
$pix-neutral-30: #97A0AF;
$pix-neutral-35: #8993A4;
$pix-neutral-40: #7A869A;
$pix-neutral-45: #6B778C;
$pix-neutral-50: #5E6C84;
$pix-neutral-60: #505F79;
$pix-neutral-70: #344563;
$pix-neutral-80: #253858;
$pix-neutral-90: #172B4D;
$pix-neutral-100: #091E42;
$pix-neutral-110: #07142E;

// Shades
$pix-shades-100: #000000;

// Domain
$pix-information-dark: #F24645;
$pix-information-light: #F1A141;
$pix-content-dark: #1A8C89;
$pix-content-light: #52D987;
$pix-communication-dark: #3D68FF;
$pix-communication-light: #12A3FF;
$pix-security-dark: #AC008D;
$pix-security-light: #FF3F94;
$pix-environment-dark: #5E2563;
$pix-environment-light: #564DA6;

//// GRADIENT
$pix-primary-app-gradient: linear-gradient(91.59deg, #3d68ff 0%, #8845ff 100%);
$pix-secondary-app-gradient: linear-gradient(91.59deg, #fedc41 0%, #ff9f00 100%);
$pix-primary-certif-gradient: linear-gradient(91.59deg, #52d987 0%, #1a8c89 100%);
$pix-primary-orga-gradient: linear-gradient(91.59deg, #00ddff 0%, #0095c0 100%);
$pix-secondary-orga-gradient: linear-gradient(91.59deg, #0d7dc4 0%, #213371 100%);

// Domain
$pix-information-gradient: linear-gradient(180deg, #f24645 0%, #f1a141 100%);
$pix-content-gradient: linear-gradient(180deg, #1a8c89 0%, #52d987 100%);
$pix-communication-gradient: linear-gradient(180deg, #3d68ff 0%, #12a3ff 100%);
$pix-security-gradient: linear-gradient(180deg, #ac008d 0%, #ff3f94 100%);
$pix-environment-gradient: linear-gradient(180deg, #5e2563 0%, #564da6 100%);
// stylelint-enable color-no-hex
