@font-face {
  font-weight: 700;
  font-family: 'Nunito';
  font-style: normal;
  src: url('../@1024pix/pix-ui/fonts/Nunito/Nunito-Bold.woff2');
}

/* @deprecated - use Nunito */
@font-face {
  font-weight: 500;
  font-family: 'Open Sans';
  font-style: normal;
  src: url('../@1024pix/pix-ui/fonts/OpenSans/OpenSans-Medium.woff2');
}

@font-face {
  font-weight: 400;
  font-family: 'Roboto';
  font-style: normal;
  src: url('../@1024pix/pix-ui/fonts/Roboto/Roboto-Regular.woff2');
}

@font-face {
  font-weight: 500;
  font-family: 'Roboto';
  font-style: normal;
  src: url('../@1024pix/pix-ui/fonts/Roboto/Roboto-Medium.woff2');
}

@font-face {
  font-weight: 700;
  font-family: 'Roboto';
  font-style: normal;
  src: url('../@1024pix/pix-ui/fonts/Roboto/Roboto-Bold.woff2');
}

@font-face {
  font-weight: 400;
  font-family: 'Roboto Mono';
  font-style: normal;
  src: url('../@1024pix/pix-ui/fonts/RobotoMono/RobotoMono-Regular.woff2');
}

/* @deprecated - use Design Tokens */
$font-open-sans: 'Open Sans', Arial, sans-serif;
$font-roboto: 'Roboto', Arial, sans-serif;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;

:root {
  --pix-font-normal: 400;
  --pix-font-medium: 500;
  --pix-font-bold: 700;

  // Private property, do not use directly
  // See https://ui.pix.fr/?path=/docs/utiliser-pix-ui-design-tokens-typographie--docs
  // stylelint-disable-next-line custom-property-pattern
  --_pix-font-family-title: 'Nunito', Arial, sans-serif;

  // Private property, do not use directly
  // See https://ui.pix.fr/?path=/docs/utiliser-pix-ui-design-tokens-typographie--docs
  // stylelint-disable-next-line custom-property-pattern
  --_pix-font-family-body: 'Roboto', Arial, sans-serif;

  // Private property, do not use directly
  // See https://ui.pix.fr/?path=/docs/utiliser-pix-ui-design-tokens-typographie--docs
  // stylelint-disable-next-line custom-property-pattern
  --_pix-font-family-monospace: 'Roboto Mono', monospace;
}
