@font-face {
  font-weight: 700;
  font-family: 'Nunito';
  font-style: normal;
  src: url('../@1024pix/pix-ui/fonts/Nunito/nunito-latin-700-normal.woff2');
}

/* @deprecated - use Nunito */
@font-face {
  font-weight: 500;
  font-family: 'Open Sans';
  font-style: normal;
  src: url('../@1024pix/pix-ui/fonts/OpenSans/open-sans-latin-700-normal.woff2');
}

@font-face {
  font-weight: 400;
  font-family: 'Roboto';
  font-style: normal;
  src: url('../@1024pix/pix-ui/fonts/Roboto/roboto-latin-400-normal.woff2');
}

@font-face {
  font-weight: 500;
  font-family: 'Roboto';
  font-style: normal;
  src: url('../@1024pix/pix-ui/fonts/Roboto/roboto-latin-500-normal.woff2');
}

@font-face {
  font-weight: 700;
  font-family: 'Roboto';
  font-style: normal;
  src: url('../@1024pix/pix-ui/fonts/Roboto/roboto-latin-700-normal.woff2');
}

/* @deprecated - use Design Tokens */
$font-open-sans: 'Open Sans', Arial, sans-serif;
$font-roboto: 'Roboto', Arial, sans-serif;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;

:root {
  --pix-font-normal: 400;
  --pix-font-medium: 500;
  --pix-font-bold: 700;
}
