@font-face {
  font-weight: 500;
  font-family: 'Open Sans';
  font-style: normal;
  src: url('../@1024pix/pix-ui/fonts/OpenSans/OpenSans-Medium.ttf');
}

@font-face {
  font-weight: 400;
  font-family: 'Roboto';
  font-style: normal;
  src: url('../@1024pix/pix-ui/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-weight: 500;
  font-family: 'Roboto';
  font-style: normal;
  src: url('../@1024pix/pix-ui/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-weight: 700;
  font-family: 'Roboto';
  font-style: normal;
  src: url('../@1024pix/pix-ui/fonts/Roboto/Roboto-Bold.ttf');
}

$font-open-sans: 'Open Sans', Arial, sans-serif;
$font-roboto: 'Roboto', Arial, sans-serif;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;
