@mixin hoverFormElement() {
  &:hover {
    background-color: var(--pix-neutral-20);
    border-color: var(--pix-neutral-900);
  }
}

@mixin hoverFormElementDisabled() {
  &:hover {
    background-color: var(--pix-neutral-20);
    border-color:  var(--pix-neutral-100);
  }
}

@mixin formElementDisabled() {
  color: var(--pix-neutral-500);
  background-color: var(--pix-neutral-20);
  border-color:  var(--pix-neutral-100);
  cursor: not-allowed;
}

@mixin focusFormElement() {
  &:focus {
    border-color: var(--pix-primary-500);
    outline: 2px solid var(--pix-primary-300);
  }
}

@mixin activeFormElement() {
  &:active {
    background-color: var(--pix-neutral-0);
    border-color: var(--pix-primary-500);
    outline: none;
  }
}

@mixin focusWithinFormElement() {
  &:focus-within {
    border-color: var(--pix-primary-500);
    outline: 2px solid var(--pix-primary-300);
  }
}

@mixin label() {
  display: block;
  margin-bottom: var(--pix-spacing-1x);
  color: var(--pix-neutral-900);
  font-weight: $font-medium;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

@mixin subLabel() {
  @include label();

  color: var(--pix-neutral-500);
  font-weight: $font-normal;
  font-size: 0.813rem;
  line-height: 1rem;
}

@mixin errorMessage() {
  margin-top: var(--pix-spacing-1x);
  color: var(--pix-error-700);
  font-size: 0.75rem;
}

@mixin formElementInError() {
  border-color: var(--pix-error-700);
}

@mixin formElementInSuccess() {
  border-color: var(--pix-success-700);
}

@mixin input() {
  @extend %pix-body-s;

  padding: 0 var(--pix-spacing-3x);
  color: var(--pix-neutral-900);
  border-radius: var(--pix-spacing-1x);
}

.pix-form__label {
  @include label();

  padding-bottom: var(--pix-spacing-3x);
}

.pix-form__actions {
  display: flex;
  justify-content: center;

  & > .pix-button:first-child {
    margin-right: 10px;
  }
}

.mandatory-mark,
.mandatory-mark[title] {
  color: var(--pix-error-700);
  text-decoration: none;
  border: none;
  cursor: help;
}
