@mixin hoverFormElement() {
  &:hover {
    box-shadow: inset 0 0 0 0.6px $pix-neutral-70;
    background-color: $pix-neutral-5;
  }
}

@mixin hoverFormElementDisabled() {
  &:hover {
    box-shadow: inset 0 0 0 0.6px $pix-neutral-70;
    background-color: $pix-neutral-20;
  }
}

@mixin formElementDisabled() {
  background-color: $pix-neutral-20;
}

@mixin focusFormElement() {
  &:focus {
    border-color: $pix-primary;
    box-shadow: inset 0 0 0 0.6px $pix-primary;
    outline: none;
  }
}

@mixin focusWithinFormElement() {
  &:focus-within {
    border-color: $pix-primary;
    box-shadow: inset 0 0 0 0.6px $pix-primary;
    outline: none;
  }
}

@mixin label() {
  display: block;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: $pix-neutral-90;
  margin-bottom: $pix-spacing-xxs;
  font-weight: $font-medium;
}

@mixin subLabel() {
  @include label();

  font-size: 0.813rem;
  line-height: 1rem;
  color: $pix-neutral-60;
  font-weight: $font-normal;
}

@mixin errorMessage() {
  font-size: 0.75rem;
  color: $pix-error-70;
  margin-top: $pix-spacing-xxs;
}

@mixin formElementInError() {
  border-color: $pix-error-70;
  box-shadow: inset 0 0 0 0.6px $pix-error-70;
}

@mixin formElementInSuccess() {
  border-color: $pix-success-60;
  box-shadow: inset 0 0 0 0.6px $pix-success-60;
}

@mixin input() {
  font-size: 0.875rem;
  font-weight: $font-normal;
  color: $pix-neutral-90;
  border-radius: $pix-spacing-xxs;
  padding: 0 $pix-spacing-s 0 $pix-spacing-s;
}

.pix-form__label {
  @include label();

  padding-bottom: 12px;
}

.pix-form__actions {
  display: flex;
  justify-content: center;

  & > .pix-button:first-child {
    margin-right: 10px;
  }
}

.mandatory-mark,
.mandatory-mark[title] {
  cursor: help;
  color: $pix-error-70;
  text-decoration: none;
  border: none;
}
