// See https://www.figma.com/file/8RJ3aCSfdeQ8AZZVBBYKS8/Design-System-Pix?node-id=54%3A4595&t=8piOzYzdI0ala3i6-0

// deprecated
$pix-spacing-xxs: 4px;
$pix-spacing-xs: 8px;
$pix-spacing-s: 16px;
$pix-spacing-m: 24px;
$pix-spacing-l: 32px;
$pix-spacing-xl: 40px;
$pix-spacing-xxl: 48px;

:root {
  --pix-spacing-1x: 4px;
  --pix-spacing-2x: 8px;
  --pix-spacing-3x: 12px;
  --pix-spacing-4x: 16px;
  --pix-spacing-6x: 24px;
  --pix-spacing-8x: 32px;
  --pix-spacing-10x: 40px;
  --pix-spacing-12x: 48px;
}
