// See https://www.figma.com/file/8RJ3aCSfdeQ8AZZVBBYKS8/Design-System-Pix?node-id=54%3A4595&t=8piOzYzdI0ala3i6-0

$pix-spacing-xxs: 4px;
$pix-spacing-xs: 8px;
$pix-spacing-s: 16px;
$pix-spacing-m: 24px;
$pix-spacing-l: 32px;
$pix-spacing-xl: 40px;
$pix-spacing-xxl: 48px;

//// DEPRECATED

/**
 * @deprecated Please use '$pix-spacing-xxs' instead!
 */
$spacing-xxs: 4px;

/**
 * @deprecated Please use '$pix-spacing-xs' instead!
 */
$spacing-xs: 8px;

/**
 * @deprecated Please use '$pix-spacing-s' instead!
 */
$spacing-s: 16px;

/**
 * @deprecated Please use '$pix-spacing-m' instead!
 */
$spacing-m: 24px;

/**
 * @deprecated Please use '$pix-spacing-l' instead!
 */
$spacing-l: 32px;

/**
 * @deprecated Please use '$pix-spacing-xl' instead!
 */
$spacing-xl: 40px;

/**
 * @deprecated Please use '$pix-spacing-xxl' instead!
 */
$spacing-xxl: 48px;
