// See https://www.figma.com/file/8RJ3aCSfdeQ8AZZVBBYKS8/Design-System-Pix?node-id=24%3A8

// Mixin pour permettre l'utilisation dans une classe css si jamais le tag html a trop de classe
@mixin _pix-title() {
  font-family: $font-open-sans;
  font-weight: 500;
}

@mixin pix-title-large() {
  @include _pix-title();

  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: -0.04em;

  @include device-is('tablet') {
    font-size: 2.5rem;
  }

  @include device-is('desktop') {
    font-size: 3rem;
  }
}

@mixin pix-title-medium() {
  @include _pix-title();

  font-size: 1.625rem;
  line-height: 1.3;
  letter-spacing: -0.02em;

  @include device-is('tablet') {
    font-size: 2rem;
    line-height: 1.25;
    letter-spacing: -0.04em;
  }

  @include device-is('desktop') {
    font-size: 2.25rem;
  }
}

@mixin pix-title-small() {
  @include _pix-title();

  font-size: 1.375rem;
  line-height: 1.3;
  letter-spacing: -0.02em;

  @include device-is('tablet') {
    font-size: 1.5rem;
  }

  @include device-is('desktop') {
    font-size: 1.75rem;
  }
}

@mixin pix-title-extra-small() {
  @include _pix-title();

  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

@mixin _pix-body() {
  font-family: $font-roboto;
  font-weight: 400;
}

@mixin pix-body-large() {
  @include _pix-body();

  font-size: 1rem;
  line-height: 1.5;

  @include device-is('tablet') {
    font-size: 1.125rem;
  }
}

@mixin pix-body-medium() {
  @include _pix-body();

  font-size: 0.875rem;
  line-height: 1.5;

  @include device-is('tablet') {
    font-size: 1rem;
  }
}

@mixin pix-body-small() {
  @include _pix-body();

  font-size: 0.875rem;
  line-height: 1.5;
}

@mixin pix-body-extra-small() {
  @include _pix-body();

  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.pix-title-large {
  @include pix-title-large();
}

.pix-title-medium {
  @include pix-title-medium();
}

.pix-title-small {
  @include pix-title-small();
}

.pix-title-extra-small {
  @include pix-title-extra-small();
}

.pix-body-large {
  @include pix-body-large();
}

.pix-body-medium {
  @include pix-body-medium();
}

.pix-body-small {
  @include pix-body-small();
}

.pix-body-extra-small {
  @include pix-body-extra-small();
}

@mixin pix-body-weight-medium() {
  font-weight: 500;
}

@mixin pix-body-weight-bold() {
  font-weight: 700;
}

.pix-body-weight-medium {
  @include pix-body-weight-medium();
}

.pix-body-weight-bold {
  @include pix-body-weight-bold();
}
