.pix-stars {
  display: flex;
  height: 2.25rem;

  & * + * {
    margin-left: var(--pix-spacing-1x);
  }
}

.pix-stars__item {
  height: 100%;
  fill: var(--pix-neutral-20);
  stroke: var(--pix-neutral-500);

  &[data-acquired] {
    fill: var(--pix-secondary-500);
    stroke: var(--pix-secondary-700);
  }
}

// Color variant : primary
.pix-stars__item--color-primary[data-acquired],
.pix-stars__item--color-blue[data-acquired] {
  fill: var(--pix-primary-500);
  stroke: var(--pix-primary-700);
}

// Color variant : neutral "deprecated ????"
.pix-stars__item--color-neutral[data-acquired],
.pix-stars__item--color-grey[data-acquired] {
    fill: var(--pix-neutral-500);
    stroke: var(--pix-neutral-500);
}
