@import '../../stories/global.css';

.pix-label {
    font-family: 'Roboto', 'Arial', sans-serif;
    display: block;
    margin-bottom: 4px;
    color: #122647;
    font-weight: 500;
}
.pix-label__sub-label {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    color: #5e6c84;
}
